<div>

    <div class="m-header">
        <app-header-menu menuIndex="4"></app-header-menu>
    </div>

    <div class="m-content">
        <div *ngIf="mailListName" class="padding bold">Thống kê danh sách email "{{mailListName}}"</div>


        <mat-tab-group mat-align-tabs="start" [selectedIndex]="tabIndex" (selectedIndexChange)="onTabChange($event)">
            <mat-tab label="Thống kê tổng quan">
                <div class="row padding" *ngIf="objSummary">
                    <div class="col-md-6 padding-horizontal box-border">
                        <div class="flex padding8 border-bottom">
                            <div class="width-30">Tên maillist</div>
                            <div class="width-70">{{objSummary.name}}</div>
                        </div>
                        <div class="flex padding8 border-bottom">
                            <div class="width-30">Tổng số email</div>
                            <div class="width-70">{{objSummary.totalEmail}}</div>
                        </div>
                        <div class="flex padding8 border-bottom">
                            <div class="width-30">Người tạo</div>
                            <div class="width-70">{{objSummary.userSend}}</div>
                        </div>
                        <div class="flex padding8 border-bottom">
                            <div class="width-30">Lượt gửi</div>
                            <div class="width-70">{{objSummary.totalSend}}</div>
                        </div>
                        <div class="flex padding8 border-bottom">
                            <div class="width-30">Lượt mở</div>
                            <div class="width-70">{{objSummary.totalOpen}}</div>
                        </div>
                        <div class="flex padding8 border-bottom">
                            <div class="width-30">Lượt click link</div>
                            <div class="width-70">{{objSummary.totalClickLink}}</div>
                        </div>
                        <div class="flex padding8 border-bottom">
                            <div class="width-30">Số mail bị trả lại</div>
                            <div class="width-70">{{objSummary.totalInvalid}}</div>
                        </div>
                        <div class="flex padding8 border-bottom">
                            <div class="width-30">Số mail subscribe</div>
                            <div class="width-70">{{objSummary.totalUnsubscribe}}</div>
                        </div>
                        <div class="flex padding8 border-bottom">
                            <div class="width-30">Tỉ lệ mở</div>
                            <div class="width-70">{{objSummary.percentType}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 padding-horizontal">
                        <div fill-parent>
                            <div class="chart-wrapper">
                                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                            </canvas>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Lượt gửi">
                <div class="row padding" *ngIf="objMailSend&&tabIndex==1">
                    <div class="col-12">
                        <app-time-selected (selectTime)="onSelectTime($event)"></app-time-selected>
                    </div>

                    <div class="col-md-2 padding-horizontal">
                        <div class="padding8 border-bottom bold">Tóm tắt lượt gửi</div>
                        <div class="padding8">Tổng số email: {{objMailSend.totalEmail}}</div>
                        <div class="padding8">Tổng số lượt gửi: {{objMailSend.totalType}}</div>
                        <div class="padding8">Email gửi từ 2 lần: {{objMailSend.totalTypeTwice}}</div>
                        <div class="padding8">Lần gửi gần nhất: {{objMailSend.nearestSend | datetimeDefault}}</div>
                    </div>
                    <div class="col-md-8 padding-horizontal">
                        <div class="chart-wrapper">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" [chartType]="barChartType">
                        </canvas>
                        </div>
                    </div>

                    <div class="offset-md-2 col-md-8 padding" *ngIf="objMailSend.totalType>0&&tabIndex==1">
                        <app-table-full-data (clickCell)="onClickCell($event)"></app-table-full-data>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Lượt mở">
                <div class="row padding" *ngIf="objMailOpen&&tabIndex==2">
                    <div class="col-12">
                        <app-time-selected (selectTime)="onSelectTime($event)"></app-time-selected>
                    </div>

                    <div class="col-md-2 padding-horizontal">
                        <div class="padding8 border-bottom bold">Tóm tắt lượt mở</div>
                        <div class="padding8">Tổng số email: {{objMailOpen.totalEmail}}</div>
                        <div class="padding8">Tổng số lượt mở: {{objMailOpen.totalType}}</div>
                        <div class="padding8">Người mở từ 2 lần: {{objMailOpen.totalTypeTwice}}</div>
                        <div class="padding8">Tỉ lệ mở: {{objMailOpen.advangeType}}</div>
                    </div>
                    <div class="col-md-8 padding-horizontal">
                        <div class="chart-wrapper">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" [chartType]="barChartType">
                        </canvas>
                        </div>
                    </div>

                    <div class="offset-md-2 col-md-8 padding" *ngIf="objMailOpen.totalType>0&&tabIndex==2">
                        <app-table-full-data (clickCell)="onClickCell($event)"></app-table-full-data>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Lượt click link">
                <div class="row padding" *ngIf="objMailClickLink&&tabIndex==3">
                    <div class="col-12">
                        <app-time-selected (selectTime)="onSelectTime($event)"></app-time-selected>
                    </div>

                    <div class="col-md-2 padding-horizontal">
                        <div class="padding8 border-bottom bold">Tóm tắt click link</div>
                        <div class="padding8">Tổng số email: {{objMailClickLink.totalEmail}}</div>
                        <div class="padding8">Tổng số lượt click: {{objMailClickLink.totalType}}</div>
                        <div class="padding8">Người click từ 2 lần: {{objMailClickLink.totalTypeTwice}}</div>
                        <div class="padding8">Tỉ lệ click: {{objMailClickLink.advangeType}}</div>
                    </div>
                    <div class="col-md-8 padding-horizontal">
                        <div class="chart-wrapper">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" [chartType]="barChartType">
                        </canvas>
                        </div>
                    </div>

                    <div class="offset-md-2 col-md-8 padding" *ngIf="objMailClickLink.totalType>0">
                        <app-table-full-data (clickCell)="onClickCell($event)"></app-table-full-data>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Mail bị trả lại">
                <div class="row padding" *ngIf="objMailInvalid&&tabIndex==4">
                    <div class="col-12">
                        <app-time-selected (selectTime)="onSelectTime($event)"></app-time-selected>
                    </div>

                    <div class="col-md-2 padding-horizontal">
                        <div class="padding8 border-bottom bold">Tóm tắt mail trả lại</div>
                        <div class="padding8">Tổng số email: {{objMailInvalid.totalEmail}}</div>
                        <div class="padding8">Tổng số email trả lại: {{objMailInvalid.totalType}}</div>
                        <div class="padding8">Tỉ lệ trả lại: {{objMailInvalid.advangeType}}</div>
                    </div>
                    <div class="col-md-8 padding-horizontal">
                        <div class="chart-wrapper">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" [chartType]="barChartType">
                        </canvas>
                        </div>
                    </div>

                    <div class="offset-md-2 col-md-8 padding" *ngIf="objMailInvalid.totalType>0">
                        <app-table-full-data (clickCell)="onClickCell($event)"></app-table-full-data>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Lượt hủy nhận mail">
                <div class="row padding" *ngIf="objMailUnsubscribe&&tabIndex==5">
                    <div class="col-12">
                        <app-time-selected (selectTime)="onSelectTime($event)"></app-time-selected>
                    </div>

                    <div class="col-md-2 padding-horizontal">
                        <div class="padding8 border-bottom bold">Tóm tắt hủy nhận mail</div>
                        <div class="padding8">Tổng số email: {{objMailUnsubscribe.totalEmail}}</div>
                        <div class="padding8">Tổng số lượt hủy: {{objMailUnsubscribe.totalType}}</div>
                        <div class="padding8">Lý do chủ yếu: {{objMailUnsubscribe.mainReason}}</div>
                        <div class="padding8">Tỉ lệ hủy: {{objMailUnsubscribe.advangeType}}</div>
                    </div>
                    <div class="col-md-8 padding-horizontal">
                        <div class="chart-wrapper">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" [chartType]="barChartType">
                        </canvas>
                        </div>
                    </div>

                    <div class="offset-md-2 col-md-8 padding" *ngIf="objMailUnsubscribe.totalType>0">
                        <app-table-full-data (clickCell)="onClickCell($event)"></app-table-full-data>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>


</div>