<h2 mat-dialog-title *ngIf="!mData">Thêm bước</h2>
<h2 mat-dialog-title *ngIf="mData">Sửa bước</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="myForm">

        <mat-form-field width-100>
            <mat-label>Tên bước</mat-label>
            <input matInput type="text" formControlName="name" required>
            <mat-error *ngIf="myForm.hasError('required')">
                Chưa nhập <strong>tên nước</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field width-100>
            <mat-label>Tiến trình</mat-label>
            <input matInput type="text" formControlName="process" required>
            <mat-error *ngIf="myForm.hasError('required')">
                Chưa nhập <strong>mã nước</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field width-100>
            <mat-label>Thứ tự</mat-label>
            <input matInput type="number" formControlName="stage" required>
            <mat-error *ngIf="myForm.hasError('required')">
                Chưa nhập <strong>mã nước</strong>
            </mat-error>
        </mat-form-field>

    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Hủy</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="myForm.value" [disabled]="!myForm.valid">{{mData?'Lưu':'Thêm'}}</button>
</mat-dialog-actions>