<h2 mat-dialog-title *ngIf="!mData">Thêm quốc gia</h2>
<h2 mat-dialog-title *ngIf="mData">Sửa quốc gia</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="myForm">

        <mat-form-field width-100>
            <mat-label>Tên nước</mat-label>
            <input matInput type="text" formControlName="name" required>
            <mat-error *ngIf="myForm.hasError('required')">
                Chưa nhập <strong>tên nước</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field width-100>
            <mat-label>Mã nước</mat-label>
            <input matInput type="text" formControlName="code" required>
            <mat-error *ngIf="myForm.hasError('required')">
                Chưa nhập <strong>mã nước</strong>
            </mat-error>
        </mat-form-field>

    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Hủy</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="myForm.value" [disabled]="!myForm.valid" cdkFocusInitial>{{mData?'Lưu':'Thêm'}}</button>
</mat-dialog-actions>