<div>

    <div class="m-header">
        <app-header-menu></app-header-menu>
    </div>

    <!-- <div class="m-title" tappable (click)="onClickBack()">
        <div center padding-start>
            <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
        <div padding-end>Báo cáo</div>
        <div center padding8-end>
            <mat-icon>description</mat-icon>
        </div>
    </div> -->

    <div class="padding bold">Thống kê tài khoản người dùng</div>


    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem (click)="onClickMenu(1)">
            <a ngbNavLink>Thống kê tài khoản người dùng</a>
        </li>
        <li ngbNavItem (click)="onClickMenu(2)">
            <a ngbNavLink>Tổng lượng email gửi</a>
        </li>
        <!-- <li ngbNavItem (click)="onClickMenu(3)">
            <a ngbNavLink>Thống kê toàn bộ các chiến dịch</a>
        </li>
        <li ngbNavItem (click)="onClickMenu(4)">
            <a ngbNavLink>Tổng lượng email đã mở</a>
        </li>
        <li ngbNavItem (click)="onClickMenu(5)">
            <a ngbNavLink>Tổng lượng email đã nhấp link</a>
        </li> -->
    </ul>

    <div>
        <div class="row m-content padding" [hidden]="menuIndex!=1" *ngIf="objSummary">
            <div class="col-md-5 padding-horizontal box-border">
                <div class="flex padding8 border-bottom">
                    <div class="width-50">Người dùng được tạo</div>
                    <div class="width-50">{{objSummary.timeCreate}}</div>
                </div>
                <div class="flex padding8 border-bottom">
                    <div class="width-50">Người dùng đăng nhập gần đây</div>
                    <div class="width-50">{{objSummary.timeLogin}}</div>
                </div>
                <div class="flex padding8 border-bottom">
                    <div class="width-50">Chiến dịch email được gửi gần nhất</div>
                    <div class="width-50">{{objSummary.timeLogin}}</div>
                </div>
                <div class="flex padding8 border-bottom">
                    <div class="width-50">Danh sách liên hệ</div>
                    <div class="width-50">{{objSummary.contactCount}}</div>
                </div>
                <div class="flex padding8 border-bottom">
                    <div class="width-50">Tạo mail gửi tự động</div>
                    <div class="width-50">{{objSummary.autoSend}}</div>
                </div>
                <div class="flex padding8 border-bottom">
                    <div class="width-50">Chiến dịch mail được gửi</div>
                    <div class="width-50">{{objSummary.campainMailSend}}</div>
                </div>
                <div class="flex padding8 border-bottom">
                    <div class="width-50">Gửi email</div>
                    <div class="width-50">{{objSummary.mailSend}}</div>
                </div>
                <div class="flex padding8 border-bottom">
                    <div class="width-50">Tổng số lượt mở</div>
                    <div class="width-50">{{objSummary.openMailCount}}</div>
                </div>
                <div class="flex padding8 border-bottom">
                    <div class="width-50">Tổng số người mở</div>
                    <div class="width-50">{{objSummary.userOpenMailCount}}</div>
                </div>
                <div class="flex padding8 border-bottom">
                    <div class="width-50">Tổng số bị trả lại</div>
                    <div class="width-50">{{objSummary.sendBack}}</div>
                </div>
                
            </div>
            <div class="col-md-7 padding-horizontal">
                <div fill-parent>
                    <div class="chart-wrapper">
                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                        </canvas>
                    </div>
                </div>

            </div>
        </div>
        <div class="row m-content padding" [hidden]="menuIndex!=2">

            <div class="col-12">
                <div width-30>
                    <select class="custom-select" width-100>
                        <option value="30">15 ngày trước</option>
                        <option value="30">30 ngày trước</option>
                        <option value="30">45 ngày trước</option>
                        <option value="30">60 ngày trước</option>
                    </select>
                </div>
            </div>

            <div class="col-md-8 offset-md-2 padding-horizontal">
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="pieChartPlugins" [legend]="pieChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>

            <div class="col-md-8 offset-md-2 padding-top">
                <div flex padding-horizontal bold background-primary color-white>
                    <div width-40>Ngày</div>
                    <div width-60>Tổng số lượt mở</div>
                </div>

                <div flex padding-horizontal *ngFor="let item of tbMailSend; let i = index" [class.background-whitesmoke]="i%2==0">
                    <div width-40>{{item.date}}</div>
                    <div width-60>{{item.total}}</div>
                </div>
                <div flex padding-horizontal background-primary color-white *ngIf="objSummary">
                    <div width-40>Tổng</div>
                    <div width-60>{{objSummary.mailSend}}</div>
                </div>
            </div>
        </div>
    </div>

    
</div>