<div *ngIf="mTitle">
    <div class="m-header">
        <app-header-menu menuIndex="2"></app-header-menu>
    </div>

    <div padding32>

        <div width-100>
            <div font2 bold>{{mTitle.task_title}}</div>

            <app-filter-bar [toppingList]="toppingList" noAdd="true" (sort)="onClickSort($event)">
            </app-filter-bar>

            <app-mat-table (clickPagination)="onClickPagination($event)" (clickBtn)="onClickBtn($event)" (clickCell)="onClickCell($event)"></app-mat-table>
        </div>

    </div>
</div>