<div shadow *ngIf="mData">
    <div padding background-secondary between>
        <div bold font3>{{mData.note_tag}}</div>
        <div (click)="onClickClose()" tappable>
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div relative style="height: 200px; margin-bottom: 42px;">
        <quill-editor [modules]="mConfig" [(ngModel)]="quillValue"></quill-editor>

        <div font6 center-line color-primary class="associate">
            <app-dropdown-associate-create width-100 (dropdownChange)="onAssociateChange($event)">
            </app-dropdown-associate-create>
        </div>
    </div>

    <div padding8 center-line box-border>
        <div>
            <button class="button m-btn" (click)="onClickSave()">{{mData.save}}</button>
        </div>
        <div padding-start center-line>
            <input type="checkbox" (change)="onInputChange($event)">
        </div>
        <div padding8-start>{{mData.follow_up}}</div>
        <div flex padding8-start color-primary [hidden]="!showTimePicker">
            <app-datetime-pick-date (pickDate)="onPickDate($event)"></app-datetime-pick-date>
        </div>
    </div>
</div>