<div shadow height-100 *ngIf="mData">
    <div class="m-header" padding between>
        <div bold font3>{{mData.add_email_campain}}</div>
        <div (click)="onClickClose()" tappable>
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div padding height-90>

        <div padding-bottom>Thêm mới chiến dịch mail với các thông tin sau</div>

        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem (click)="onClickStep(1)">
                <a ngbNavLink>{{mData.step1}}</a>
            </li>
            <li ngbNavItem (click)="onClickStep(2)">
                <a ngbNavLink>{{mData.step2}}</a>
            </li>
        </ul>

        <div [hidden]="btnType!=1">
            <div padding-top>

                <div padding-start center-line>
                    <div class="col-3" font6>Danh sách email</div>
                    <div class="col-9">
                        <select class="custom-select" width-100 [(ngModel)]="mailListID">
                            <option *ngFor="let item of listMailList" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>

                <div padding-start padding-top center-line>
                    <div class="col-3" font6>{{mData.campain_name}}</div>
                    <div class="col-9">
                        <input class="form-control" type="text" [(ngModel)]="name">
                    </div>
                </div>

                <div padding-start padding-top center-line>
                    <div class="col-3" font6>Tiêu đề</div>
                    <div class="col-9">
                        <input class="form-control" type="text" [(ngModel)]="subject">
                    </div>
                </div>
            </div>

            <!-- <div padding32-top>

                <div padding-start padding-top center-line>
                    <mat-radio-group (change)="onRadioChange($event)">
                        <mat-radio-button value="1">{{mData.campain_send_all}}</mat-radio-button>
                        <mat-radio-button value="2">{{mData.campain_send_by_time}}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div padding-start center-line [hidden]="!sendByTime">
                    <div class="col-9 offset-3">
                        <select class="custom-select" width-100 [(ngModel)]="jobTile">
                            <option *ngFor="let item of mData.campain_list_time" [ngValue]="item.value">{{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div> -->
        </div>

        <div [hidden]="btnType!=2">
            <div padding-top>

                <quill-editor [(ngModel)]="quillContent" [styles]="{height: '400px'}"></quill-editor>

            </div>

        </div>

    </div>

    <div padding background-white class="m-footer">
        <div flex>
            <div padding-vertical>
                <button mat-raised-button color="primary" [disabled]="!btnCanClicked"
                    (click)="onClickSave()">{{mData.campain_btn_send}}</button>
            </div>
            <div padding>
                <button mat-raised-button color="accent" (click)="onClickClose()">{{mData.cancel}}</button>
            </div>
        </div>
    </div>

</div>