.border-red {
  border: 1px solid red;
}
.button-margin-right {
  margin-right: 2%;
}
.span-custom {
  font-weight: bold;
  font-size: x-large;
}

.table-container {
  width: 100%;
  padding-top: 5%;
}

.mat-header-row {
  background-color: #451b58 !important;
}

.mat-header-cell {
  color: white;
}

.padding1 {
  padding: 1%;
}

.modal-margin-inherit {
  margin: inherit;
}

.width80 {
  width: 80%;
}

.margin1 {
  margin: 1%;
}
