<div *ngIf="mTitle">
    <div class="m-header">
        <app-header-menu menuIndex="3"></app-header-menu>
    </div>

    <div padding>

        <div width-100>
            <div font2 bold>{{mTitle.contact_title}}</div>

            <app-filter-bar [toppingList]="toppingList" (clickAdd)="onClickAdd()" (sort)="onClickSort($event)">
            </app-filter-bar>

            <app-mat-table (clickPagination)="onClickPagination($event)" (clickBtn)="onClickBtn($event)" (clickCell)="onClickCell($event)"></app-mat-table>
        </div>

    </div>
</div>