<h2>Selected Columns</h2>
<hr />
<div cdkDropListGroup>
  <div class="example-container">
    <h2>Visible</h2>

    <div
      cdkDropList
      [cdkDropListData]="Visible"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of Visible" cdkDrag>
        {{ item.name }}
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Invisible</h2>

    <div
      cdkDropList
      [cdkDropListData]="Invisible"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of Invisible" cdkDrag>
        {{ item.name }}
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end">
  <button
    mat-raised-button
    (click)="onClick()"
    color="primary"
    style="margin-right: 1%;"
  >
    <mat-icon>save</mat-icon> Save
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon>close</mat-icon> Close
  </button>
</div>
