<div>

    <div class="m-header">
        <app-header-menu></app-header-menu>
    </div>

    <div class="row m-content">
        <div class="col-md-3" padding-top>
            <app-contact-detail-intro [mID]="mID" (createAction)="onClickCreateAction($event)"></app-contact-detail-intro>
        </div>
        <div [class]="colDetail" padding-top relative background-whitesmoke>
            <app-contact-detail-activity [mID]="mID" [listContact]="listContact" [listUser]="listUser" [oneActivity]="oneActivity">
            </app-contact-detail-activity>
        </div>
        <div [class]="colSubDetail">
            <div border-bottom padding-top tappable (click)="onClickShowSubDetail()">
                <mat-icon>{{iconSubDetail}}</mat-icon>
            </div>
            <div [class.hide-div]="!iconSubDetailState">
                <app-contact-detail-other [listDealStage]="listDealStage" (addSubDetail)="onClickAddSubDetail($event)">
                </app-contact-detail-other>
            </div>
        </div>
    </div>

    <div>
        <div class="box-add" [class.show-div]="addSubDetail==3">
            <app-add-deal [contactAddDeal]="1" [listDealStage]="listDealStage" (closeAddSub)="onClickCloseSubDetail($event, 3)"></app-add-deal>
        </div>
    </div>
</div>