<div *ngIf="mData">

    <div class="m-header">
        <app-header-menu></app-header-menu>
    </div>

    <div class="row m-content">
        <div class="col-md-3" padding-top>
            <app-contact-detail-intro (createAction)="onClickCreateAction($event)"></app-contact-detail-intro>
        </div>
        <div [class]="colDetail" padding-top relative background-whitesmoke>
            <app-contact-detail-activity [listContact]="listContact" [listUser]="listUser">
            </app-contact-detail-activity>

            <div class="box-create" [class.show-div]="createTabIndex==1">
                <app-create-note (closeCreateAction)="onClickCloseCreateAction($event)"></app-create-note>
            </div>

            <div class="box-create" [class.show-div]="createTabIndex==2">
                <app-create-task [listUser]="listUser" (closeCreateAction)="onClickCloseCreateAction($event)">
                </app-create-task>
            </div>

            <div class="box-create" [class.show-div]="createTabIndex==3">
                <app-create-call [listContact]="listContact" [listUser]="listUser"
                    (closeCreateAction)="onClickCloseCreateAction($event)"></app-create-call>
            </div>

            <div class="box-create" [class.show-div]="createTabIndex==4">
                <app-create-email [listContact]="listContact" [listUser]="listUser"
                    (closeCreateAction)="onClickCloseCreateAction($event)"></app-create-email>
            </div>

            <div class="box-create" [class.show-div]="createTabIndex==5">
                <app-create-meet (closeCreateAction)="onClickCloseCreateAction($event)"></app-create-meet>
            </div>

        </div>
        <div [class]="colSubDetail">
            <div border-bottom padding-top tappable (click)="onClickShowSubDetail()">
                <mat-icon>{{iconSubDetail}}</mat-icon>
            </div>
            <div [class.hide-div]="!iconSubDetailState">
                <app-contact-detail-other [listDealStage]="listDealStage" (addSubDetail)="onClickAddSubDetail($event)">
                </app-contact-detail-other>
            </div>
        </div>
    </div>

    <div>
        <div class="box-add" [class.show-div]="addSubDetail==3">
            <app-add-deal [listContact]="listContact" [listCompany]="listCompany" [listDealStage]="listDealStage"
                (closeAddSub)="onClickCloseSubDetail($event, 3)"></app-add-deal>
        </div>
    </div>
</div>