<div *ngIf="mTitle">
    <!-- task -->
    <div class="m-activity" *ngIf="mObj.activityType==5">
        <div between>
            <div bold color-primary flex padding8-top>
                <mat-icon height-100 [svgIcon]="mTitle.task.icon_type"></mat-icon>
                <div padding8-start center-line>{{mTitle.task.name}}</div>
            </div>
            <div flex font6>
                <div font6 class="activity-toolbar">
                    <div bold padding-end center-line color-red tappable (click)="onClickDeleteActivity(5)">
                        {{mTitle.note.delete}}</div>
                </div>
                <div padding-end center-line>
                    <div>{{mTitle.create}}</div>
                    <div padding8-start color-primary>{{mService.mUser.name}}</div>
                </div>
                <div center-line>{{mObj.timeCreate}}</div>
            </div>
        </div>

        <div flex padding-top>
            <div center-line>
                <input type="checkbox" [checked]="mObj.status" (change)="onTaskStatusChange($event)">
            </div>
            <div color-primary padding8-start bold width-100>
                <input class="form-control border-0" type="text" [value]="mObj.taskName" (change)="onInputTaskNameChange($event)">
            </div>
        </div>

        <div class="row" padding-top font6>
            <div class="col-5">
                <mat-form-field width-100>
                    <mat-label>Phân công cho</mat-label>
                    <mat-select [(ngModel)]="mObj.assignID" (selectionChange)="onChangeUser()">
                        <mat-option *ngFor="let item of listUser" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field width-100>
                    <mat-label>Ngày cảnh báo</mat-label>
                    <input matInput [matDatepicker]="picker2" [value]="mObj.dateStart" (dateChange)="pickTimeStart($event, 1)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field width-100>
                    <mat-label>Giờ cảnh bảo</mat-label>
                    <mat-select [(ngModel)]="mObj.hourStart" (selectionChange)="pickTimeStart($event, 2)">
                        <mat-option *ngFor="let item of listHour" [value]="item.value">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div padding-top>
            <textarea [hidden]="showQuill" width-100 rows="4" cols="50" [value]="mObj.description" (click)="onClickEdit()"></textarea>

            <div [hidden]="!showQuill">
                <app-quill-box [quillValue]="mObj.description" (onClickEdit)="onQuillDescriptionChange($event)">
                </app-quill-box>
            </div>
        </div>

        <div padding-top flex tappable (click)="onClickTaskDetail()">
            <mat-icon>{{taskDetail}}</mat-icon>
            <div font6 center-line>{{mTitle.task.detail}}</div>
        </div>

        <div id="task-detail" class="row font6" padding-top [hidden]="!showDetail">
            <div class="col-5">
                <mat-form-field width-100>
                    <mat-label>Loại</mat-label>
                    <mat-select [(ngModel)]="mObj.taskType" (selectionChange)="onTaskTypeChange()">
                        <mat-option *ngFor="let item of listTaskType" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field width-100>
                    <mat-label>Ngày nhắc nhở</mat-label>
                    <input matInput [matDatepicker]="picker1" [value]="mObj.dateRemind" (dateChange)="pickTimeRemind($event, 1)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field width-100>
                    <mat-label>Giờ nhắc nhở</mat-label>
                    <mat-select [(ngModel)]="mObj.hourRemind" (selectionChange)="pickTimeRemind($event, 2)">
                        <mat-option *ngFor="let item of listHour" [value]="item.value">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <!-- call -->
    <div class="m-activity" *ngIf="mObj.activityType==1">
        <div between>
            <div bold color-primary flex padding8-top>
                <mat-icon height-100 [svgIcon]="mTitle.call.icon_type"></mat-icon>
                <div padding8-start center-line>{{mTitle.call.name}}</div>
            </div>
            <div flex font6>
                <div font6 class="activity-toolbar">
                    <div bold padding-end center-line color-red tappable (click)="onClickDeleteActivity(1)">
                        {{mTitle.note.delete}}</div>
                </div>
                <div padding-end center-line>
                    <div>{{mTitle.create}}</div>
                    <div padding8-start color-primary>{{mService.mUser.name}}</div>
                </div>
                <div center-line>{{mObj.timeCreate}}</div>
            </div>
        </div>

        <div padding-top>
            <textarea [hidden]="showQuill" width-100 rows="4" cols="50" [value]="mObj.description" (click)="onClickEdit()"></textarea>

            <div [hidden]="!showQuill">
                <app-quill-box [quillValue]="mObj.description" (onClickEdit)="onQuillDescriptionChange($event)">
                </app-quill-box>
            </div>
        </div>

        <div class="row" padding-top font6>
            <div class="col-6">
                <mat-form-field width-100>
                    <mat-label>Trạng thái</mat-label>
                    <mat-select [(ngModel)]="mObj.state" (selectionChange)="onChangeContact(2)">
                        <mat-option *ngFor="let item of listOutcome" [value]="item.id">{{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field width-100>
                    <mat-label>Ngày bắt đầu</mat-label>
                    <input matInput [matDatepicker]="picker1" [value]="mObj.dateStart" (dateChange)="pickDate($event, 1)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field width-100>
                    <mat-label>Giờ bắt đầu</mat-label>
                    <mat-select [(ngModel)]="mObj.hourStart" (selectionChange)="pickDate($event, 2)">
                        <mat-option *ngFor="let item of listHour" [value]="item.value">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <app-activity-comment-box [mObj]="mObj"></app-activity-comment-box>

    </div>

    <!-- email -->
    <div class="m-activity" *ngIf="mObj.activityType==2">
        <div between>
            <div bold color-primary flex padding8-vertical>
                <mat-icon height-100 [svgIcon]="mTitle.email.icon_type"></mat-icon>
                <div padding8-start center-line>{{mTitle.email.name}}</div>
            </div>
            <div flex font6>
                <div font6 class="activity-toolbar">
                    <div bold padding-end center-line color-red tappable (click)="onClickDeleteActivity(2)">
                        {{mTitle.note.delete}}</div>
                </div>
                <div padding-end center-line>
                    <div>{{mTitle.create}}</div>
                    <div padding8-start color-primary>{{mService.mUser.name}}</div>
                </div>
                <div center-line>{{mObj.timeCreate}}</div>
            </div>
        </div>

        <div padding-top>
            <textarea [hidden]="showQuill" width-100 rows="4" cols="50" [value]="mObj.description" (click)="onClickEdit()"></textarea>

            <div [hidden]="!showQuill">
                <app-quill-box [quillValue]="mObj.description" (onClickEdit)="onQuillDescriptionChange($event)">
                </app-quill-box>
            </div>
        </div>

        <div class="row" padding-top font6>
            <div class="col-6">
                <mat-form-field width-100>
                    <mat-label>Trạng thái</mat-label>
                    <mat-select [(ngModel)]="mObj.state" (selectionChange)="onChangeContact(2)">
                        <mat-option *ngFor="let item of listMailOutcome" [value]="item.id">{{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field width-100>
                    <mat-label>Ngày bắt đầu</mat-label>
                    <input matInput [matDatepicker]="picker1" [value]="mObj.dateStart" (dateChange)="pickDate($event, 1)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field width-100>
                    <mat-label>Giờ bắt đầu</mat-label>
                    <mat-select [(ngModel)]="mObj.hourStart" (selectionChange)="pickDate($event, 2)">
                        <mat-option *ngFor="let item of listHour" [value]="item.value">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <app-activity-comment-box [mObj]="mObj"></app-activity-comment-box>

    </div>

    <!-- note -->
    <div class="m-activity" *ngIf="mObj.activityType==4">
        <div between>
            <div bold color-primary flex padding8-top>
                <mat-icon height-100 [svgIcon]="mTitle.note.icon_type"></mat-icon>
                <div padding8-start center-line>{{mTitle.note.name}}</div>
            </div>
            <div font6 class="activity-toolbar">
                <div bold padding-start center-line color-red tappable (click)="onClickDeleteActivity(4)">
                    {{mTitle.note.delete}}</div>
            </div>
        </div>

        <div padding-top>
            <textarea [hidden]="showQuill" width-100 rows="4" cols="50" [value]="mObj.description" (click)="onClickEdit()"></textarea>

            <div [hidden]="!showQuill">
                <app-quill-box [quillValue]="mObj.description" (onClickEdit)="onQuillDescriptionChange($event)">
                </app-quill-box>
            </div>
        </div>

        <app-activity-comment-box [mObj]="mObj"></app-activity-comment-box>

    </div>

    <!-- meet -->
    <div class="m-activity" *ngIf="mObj.activityType==3">
        <div between>
            <div bold color-primary flex padding8-top>
                <mat-icon height-100 [svgIcon]="mTitle.meet.icon_type"></mat-icon>
                <div padding8-start center-line>{{mTitle.meet.name}}</div>
            </div>
            <div flex font6>
                <div font6 class="activity-toolbar">
                    <div bold padding-start center-line color-red tappable (click)="onClickDeleteActivity(3)">
                        {{mTitle.note.delete}}</div>
                    <app-dropdown-associate width-100 [listAssociateAll]="listContact" [listAssociate]="listAssociate" [activityType]="mObj.activityType" [activityID]="mObj.id" (dropdownChange)="onNoteAssociateChange($event)" tappable>
                    </app-dropdown-associate>
                </div>
                <div padding-end center-line>
                    <div>{{mTitle.create}}</div>
                    <div padding8-start color-primary>{{mService.mUser.name}}</div>
                </div>
                <div center-line>{{mObj.timeCreate}}</div>
            </div>
        </div>

        <div padding-top>
            <textarea [hidden]="showQuill" width-100 rows="4" cols="50" [value]="mObj.description" (click)="onClickEdit()"></textarea>

            <div [hidden]="!showQuill">
                <app-quill-box [quillValue]="mObj.description" (onClickEdit)="onQuillDescriptionChange($event)">
                </app-quill-box>
            </div>
        </div>

        <div class="row" padding-top font6>
            <div class="col-5">
                <mat-form-field width-100 *ngIf="listAttend">
                    <mat-label>Tham gia</mat-label>
                    <mat-select multiple [(value)]="listAttend" (selectionChange)="onChangeListAtend($event)">
                        <mat-option *ngFor="let item of listUser" selected="true" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field width-100>
                    <mat-label>Thời lượng</mat-label>
                    <mat-select [(ngModel)]="mObj.duration" (selectionChange)="onChangeDuration()">
                        <mat-option *ngFor="let item of listDuration" [value]="item.value">{{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field width-100>
                    <mat-label>Ngày bắt đầu</mat-label>
                    <input matInput [matDatepicker]="picker1" [value]="mObj.dateStart" (dateChange)="pickDate($event, 1)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field width-100>
                    <mat-label>Giờ bắt đầu</mat-label>
                    <mat-select [(ngModel)]="mObj.hourStart" (selectionChange)="pickDate($event, 2)">
                        <mat-option *ngFor="let item of listHour" [value]="item.value">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <app-activity-comment-box [mObj]="mObj"></app-activity-comment-box>

    </div>

</div>