<ngb-toast class="m-toast" *ngIf="showToast" [autohide]="false">{{toasMessage}}</ngb-toast>

<div *ngIf="mData">
    <!-- task -->
    <div class="m-activity" *ngIf="mObj.activityType==5">
        <div between>
            <div bold color-primary flex padding8-top>
                <mat-icon height-100 [svgIcon]="mData.task.icon_type"></mat-icon>
                <div padding8-start center-line>{{mData.task.name}}</div>
            </div>
            <div flex font6>
                <div font6 class="activity-toolbar">
                    <app-dropdown-associate width-100 [listAssociateAll]="listContact" [listAssociate]="listAssociate"
                        [activityType]="mObj.activityType" [activityID]="mObj.id"
                        (dropdownChange)="onNoteAssociateChange($event)" tappable>
                    </app-dropdown-associate>
                </div>
                <div padding-end center-line>
                    <div>{{mData.create}}</div>
                    <div padding8-start color-primary>{{mService.mUser.name}}</div>
                </div>
                <div center-line>{{mObj.timeCreate | datetimeFull}}</div>
            </div>
        </div>

        <div flex padding-top>
            <div center-line>
                <mat-icon color-gray>{{mData.task.icon}}</mat-icon>
            </div>
            <div color-primary padding8-start bold width-100>
                <input class="form-control border-0" type="text" [value]="mObj.taskName"
                    (change)="onInputTaskNameChange($event)">
            </div>
        </div>

        <div class="row" padding-top>
            <div class="col-5">
                <div font7>{{mData.task.assign_to}}</div>
                <div font6 color-primary>
                    <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="mObj.assignID"
                        (change)="onChangeUser()">
                        <option *ngFor="let item of listUser" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-7">
                <div font7>{{mData.task.due_date}}</div>
                <div font6 color-primary>
                    <div flex>
                        <app-datetime-pick-date [mDate]="mObj.timeStart" (pickDate)="pickTimeStart($event,1)">
                        </app-datetime-pick-date>
                        <app-datetime-pick-time [mTime]="mObj.timeStart | datetimeTimeDefault" padding-start
                            (pickTime)="pickTimeStart($event,2)">
                        </app-datetime-pick-time>
                    </div>
                </div>
            </div>
        </div>

        <div padding-top>
            <div [hidden]="showQuill" class="m-description" padding8 [innerHTML]="mObj.description"
                (click)="onClickEdit()"></div>

            <div [hidden]="!showQuill">
                <app-quill-box [quillValue]="mObj.description" (onClickEdit)="onQuillDescriptionChange($event)">
                </app-quill-box>
            </div>
        </div>

        <div padding-top flex tappable (click)="onClickTaskDetail()">
            <mat-icon>{{taskDetail}}</mat-icon>
            <div font6 center-line>{{mData.task.detail}}</div>
        </div>

        <div id="task-detail" class="row" padding-top [hidden]="!showDetail">
            <div class="col-2">
                <div font7>{{mData.task.type}}</div>
                <div font6 color-primary flex>
                    <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="mObj.taskType"
                        (change)="onTaskTypeChange()">
                        <option *ngFor="let item of listTaskType" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div font7>{{mData.create}}</div>
                <div font6 color-primary class="task-line">{{mService.mUser.name}}</div>
            </div>
            <div class="col-7">
                <div font7>{{mData.task.remind}}</div>
                <div font6 color-primary flex>
                    <app-datetime-pick-date [mDate]="mObj.timeAssign" (pickDate)="pickTimeAssign($event,1)">
                    </app-datetime-pick-date>
                    <app-datetime-pick-time [mTime]="mObj.timeAssign | datetimeTimeDefault" padding-start
                        (pickTime)="pickTimeAssign($event,2)">
                    </app-datetime-pick-time>
                </div>
            </div>
        </div>
    </div>

    <!-- call -->
    <div class="m-activity" *ngIf="mObj.activityType==1">
        <div between>
            <div bold color-primary flex padding8-top>
                <mat-icon height-100 [svgIcon]="mData.call.icon_type"></mat-icon>
                <div padding8-start center-line>{{mData.call.name}}</div>
            </div>
            <div flex font6>
                <div font6 class="activity-toolbar">
                    <app-dropdown-associate width-100 [listAssociateAll]="listContact" [listAssociate]="listAssociate"
                        [activityType]="mObj.activityType" [activityID]="mObj.id"
                        (dropdownChange)="onNoteAssociateChange($event)" tappable>
                    </app-dropdown-associate>
                </div>
                <div padding-end center-line>
                    <div>{{mData.create}}</div>
                    <div padding8-start color-primary>{{mService.mUser.name}}</div>
                </div>
                <div center-line>{{mObj.timeCreate | datetimeFull}}</div>
            </div>
        </div>

        <div padding-top>
            <div [hidden]="showQuill" class="m-description" padding8 [innerHTML]="mObj.description"
                (click)="onClickEdit()"></div>

            <div [hidden]="!showQuill">
                <app-quill-box [quillValue]="mObj.description" (onClickEdit)="onQuillDescriptionChange($event)">
                </app-quill-box>
            </div>
        </div>

        <div class="row" padding-top>
            <div class="col-6" flex>
                <div width-60>
                    <div font7>{{mData.contact}}</div>
                    <div font6 flex>
                        <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="mObj.contactID"
                            (change)="onChangeContact(1)">
                            <option *ngFor="let item of listContact" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div width-40 padding-start>
                    <div font7>{{mData.out_come}}</div>
                    <div font6 flex>
                        <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="mObj.state"
                            (change)="onChangeContact(2)">
                            <option *ngFor="let item of listOutcome" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div font7>{{mData.date}}</div>
                <div font6 color-primary>
                    <div flex>
                        <app-datetime-pick-date [mDate]="mObj.timeStart" (pickDate)="pickDate($event,1)">
                        </app-datetime-pick-date>
                        <app-datetime-pick-time [mTime]="mObj.timeStart | datetimeTimeDefault" padding-start
                            (pickTime)="pickDate($event,2)">
                        </app-datetime-pick-time>
                    </div>
                </div>
            </div>
        </div>

        <app-activity-comment-box [mObj]="mObj"></app-activity-comment-box>

    </div>

    <!-- email -->
    <div class="m-activity" *ngIf="mObj.activityType==2">
        <div between>
            <div bold color-primary flex padding8-vertical>
                <mat-icon height-100 [svgIcon]="mData.email.icon_type"></mat-icon>
                <div padding8-start center-line>{{mData.email.name}}</div>
            </div>
            <div flex font6>
                <div font6 class="activity-toolbar">
                    <app-dropdown-associate width-100 [listAssociateAll]="listContact" [listAssociate]="listAssociate"
                        [activityType]="mObj.activityType" [activityID]="mObj.id"
                        (dropdownChange)="onNoteAssociateChange($event)" tappable>
                    </app-dropdown-associate>
                </div>
                <div padding-end center-line>
                    <div>{{mData.create}}</div>
                    <div padding8-start color-primary>{{mService.mUser.name}}</div>
                </div>
                <div center-line>{{mObj.timeCreate | datetimeFull}}</div>
            </div>
        </div>

        <div padding-top>
            <div [hidden]="showQuill" class="m-description" padding8 [innerHTML]="mObj.description"
                (click)="onClickEdit()"></div>

            <div [hidden]="!showQuill">
                <app-quill-box [quillValue]="mObj.description" (onClickEdit)="onQuillDescriptionChange($event)">
                </app-quill-box>
            </div>
        </div>

        <div class="row" padding-top>
            <div class="col-6" flex>
                <div width-60>
                    <div font7>{{mData.contact}}</div>
                    <div font6 flex color-primary>
                        <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="mObj.contactID"
                            (change)="onChangeContact(1)">
                            <option *ngFor="let item of listContact" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div width-40 padding-start>
                    <div font7>{{mData.out_come}}</div>
                    <div font6 flex color-primary>
                        <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="mObj.state"
                            (change)="onChangeContact(1)">
                            <option *ngFor="let item of listOutcome" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div font7>{{mData.date}}</div>
                <div font6 color-primary>
                    <div flex>
                        <app-datetime-pick-date [mDate]="mObj.timeRemind" (pickDate)="pickDate($event,1)">
                        </app-datetime-pick-date>
                        <app-datetime-pick-time [mTime]="mObj.timeRemind | datetimeTimeDefault" padding-start
                            (pickTime)="pickDate($event,2)">
                        </app-datetime-pick-time>
                    </div>
                </div>
            </div>
        </div>

        <app-activity-comment-box [mObj]="mObj"></app-activity-comment-box>

    </div>

    <!-- note -->
    <div class="m-activity" *ngIf="mObj.activityType==4">
        <div between>
            <div bold color-primary flex padding8-top>
                <mat-icon height-100 [svgIcon]="mData.note.icon_type"></mat-icon>
                <div padding8-start center-line>{{mData.note.name}}</div>
            </div>
            <div font6 class="activity-toolbar">
                <app-dropdown-associate width-100 [listAssociateAll]="listContact" [listAssociate]="listAssociate"
                    [activityType]="mObj.activityType" [activityID]="mObj.id"
                    (dropdownChange)="onNoteAssociateChange($event)" tappable>
                </app-dropdown-associate>
                <div bold padding-start center-line color-red tappable (click)="onClickDeleteNote()">
                    {{mData.note.delete}}</div>
            </div>
        </div>

        <div padding-top>
            <div [hidden]="showQuill" class="m-description" padding8 [innerHTML]="mObj.description"
                (click)="onClickEdit()"></div>

            <div [hidden]="!showQuill">
                <app-quill-box [quillValue]="mObj.description" (onClickEdit)="onQuillDescriptionChange($event)">
                </app-quill-box>
            </div>
        </div>

        <app-activity-comment-box [mObj]="mObj"></app-activity-comment-box>

    </div>

    <!-- meet -->
    <div class="m-activity" *ngIf="mObj.activityType==3">
        <div between>
            <div bold color-primary flex padding8-top>
                <mat-icon height-100 [svgIcon]="mData.meet.icon_type"></mat-icon>
                <div padding8-start center-line>{{mData.meet.name}}</div>
            </div>
            <div flex font6>
                <div font6 class="activity-toolbar">
                    <app-dropdown-associate width-100 [listAssociateAll]="listContact" [listAssociate]="listAssociate"
                        [activityType]="mObj.activityType" [activityID]="mObj.id"
                        (dropdownChange)="onNoteAssociateChange($event)" tappable>
                    </app-dropdown-associate>
                </div>
                <div padding-end center-line>
                    <div>{{mData.create}}</div>
                    <div padding8-start color-primary>{{mService.mUser.name}}</div>
                </div>
                <div center-line>{{mObj.timeCreate | datetimeFull}}</div>
            </div>
        </div>

        <div padding-top>
            <div [hidden]="showQuill" class="m-description" padding8 [innerHTML]="mObj.description"
                (click)="onClickEdit()"></div>

            <div [hidden]="!showQuill">
                <app-quill-box [quillValue]="mObj.description" (onClickEdit)="onQuillDescriptionChange($event)">
                </app-quill-box>
            </div>
        </div>

        <div class="row" padding-top>
            <div class="col-6" flex>
                <div width-50>
                    <div font7>{{mData.meet.attend}}</div>
                    <div font6 flex color-primary>
                        <app-dropdown-multi width-100 [listUser]="listUser" [listAttend]="listAttend"
                            [activityType]="mObj.activityType" [activityID]="mObj.id"
                            (dropdownChange)="dropdownChange($event)"></app-dropdown-multi>

                    </div>
                </div>
                <div width-50 padding-start>
                    <div font7>{{mData.meet.duration}}</div>
                    <div font6 flex color-primary>
                        <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="mObj.duration"
                            (change)="onChangeDuration()">
                            <option *ngFor="let item of listDuration" [ngValue]="item.value">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div font7>{{mData.meet.start_time}}</div>
                <div font6 color-primary>
                    <div flex>
                        <app-datetime-pick-date [mDate]="mObj.timeStart" (pickDate)="pickDate($event,1)">
                        </app-datetime-pick-date>
                        <app-datetime-pick-time [mTime]="mObj.timeStart | datetimeTimeDefault" padding-start
                            (pickTime)="pickDate($event,2)">
                        </app-datetime-pick-time>
                    </div>
                </div>
            </div>
        </div>

        <app-activity-comment-box [mObj]="mObj"></app-activity-comment-box>

    </div>

</div>