<div *ngIf="mTitle">
    <div class="m-header">
        <app-header-menu menuIndex="5"></app-header-menu>
    </div>

    <div class="padding m-content">

        <div width-100>
            <div font2 bold>{{mTitle.component_title.category_user}}</div>

            <app-filter-bar [toppingList]="toppingList" (clickAdd)="onClickAdd()" (sort)="onClickSort($event)">
            </app-filter-bar>

            <app-table-category (clickBtn)="onClickBtn($event)"></app-table-category>
        </div>

    </div>
</div>