<div *ngIf="mData">
    <div class="m-header" between>
        <div flex>
            <div padding32-start padding8 style="height: 66px;" (click)="onClickLogo()" tappable>
                <img height-100 [src]="mData.logo">
            </div>

            <div padding32-start flex>
                <div ngbDropdown color-white center-line padding-horizontal *ngFor="let item of mData.list_menu"
                    [class.selected]="menuSelected==item.index" tappable>
                    <div class="color-white between width-100 height-100" ngbDropdownToggle>
                        <div padding-end>{{item.name}}</div>
                    </div>
                    <div ngbDropdownMenu width-100 background-primary>
                        <div border-bottom *ngFor="let it1 of item.list;let i = index"
                            [class.border0]="item.list.length-1==i">
                            <button color-white ngbDropdownItem
                                (click)="onClickMenu(item.index, it1.index)">{{it1.name}}</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div padding32-end flex>

            <!-- <div center-line class="fadeIn" [hidden]="!showSearchBar">
                <input type="search" class="form-control" />
            </div> -->

            <!-- <div color-white center-line>
                <button class="btn btn-default color-white center" (click)="onClickSearch()">
                    <mat-icon color-white>search</mat-icon>
                </button>
            </div> -->

            <!-- <div color-white center-line>
                <button class="btn btn-default color-white center">
                    <mat-icon color-white>notifications</mat-icon>
                </button>
            </div> -->

            <div>
                <ng-template #hoverImgTemp>
                    <div style="margin-right: 32px;">
                        <div border-bottom>
                            <div font2 bold>{{mUser.name}}</div>
                            <div padding-top>{{mUser.phone}}</div>
                            <div padding-vertical>{{mUser.email}}</div>
                        </div>
                        <div padding-vertical>
                            <button class="btn btn-default center" (click)="onClickLogout()">log out</button>
                        </div>
                    </div>

                </ng-template>
                <button class="btn btn-default color-white center" placement="bottom" [ngbPopover]="hoverImgTemp">
                    <mat-icon color-white>account_circle</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>