<div>
    <div class="m-header" between>
        <div flex>
            <div padding32-start padding8 style="height: 66px;" (click)="onClickLogo()" tappable>
                <img height-100 src="../../assets/img/logo_light.png">
            </div>

            <div padding32-start flex *ngIf="listMenu">
                <div color-white center-line padding-horizontal *ngFor="let item of listMenu" [class.selected]="menuIndex==item.index" tappable>
                    <div class="color-white between width-100 height-100" [matMenuTriggerFor]="menu">
                        <div padding-end>{{item.name}}</div>
                    </div>
                    <mat-menu background-primary #menu="matMenu">
                        <div border-bottom *ngFor="let it1 of item.list;let i = index" [class.border0]="item.list.length-1==i">
                            <button mat-menu-item (click)="onClickMenu(item.index, it1.index)">{{it1.name}}</button>
                        </div>
                    </mat-menu>
                </div>
            </div>


        </div>

        <div padding32-end flex>

            <div *ngIf="mTitle">
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon color-white>settings</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <!-- <button mat-menu-item (click)="onClickLanguage()">{{language}}</button> -->
                    <button mat-menu-item *ngIf="mUser.role==2" (click)="onClickAddUser()">{{mTitle.button_title.add_user}}</button>
                </mat-menu>
            </div>

            <div padding32-end>
                <ng-template #hoverImgTemp>
                    <div>
                        <div border-bottom>
                            <div font2 bold>{{mUser.name}}</div>
                            <div padding-top>{{mUser.phone}}</div>
                            <div padding-vertical>{{mUser.email}}</div>
                        </div>
                        <div padding-vertical>
                            <button class="btn btn-default center" (click)="onClickLogout()">log out</button>
                        </div>
                    </div>

                </ng-template>
                <button class="btn btn-default color-white center" placement="bottom" [ngbPopover]="hoverImgTemp">
                    <mat-icon color-white>account_circle</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>