<div shadow height-100 *ngIf="mData">
    <div class="m-header" padding between>
        <div bold font3>Thêm email vào danh sách</div>
        <div (click)="onClickClose()" tappable>
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div padding height-90>
        <div padding-bottom>Điền một số thông tin để thêm mới một email vào danh sách</div>

        <div [hidden]="btnType!=1" padding32-top>
            <div padding-start center-line>
                <div class="col-3" font6>{{mData.name}}</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="name">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>Email</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="email">
                </div>
            </div>

        </div>
    </div>

    <div padding class="m-footer">
        <div flex>
            <div padding-vertical>
                <button mat-raised-button color="primary" [disabled]="!btnCanClicked"
                    (click)="onClickSave()">{{mData.save}}</button>
            </div>
            <div padding>
                <button mat-raised-button color="accent" (click)="onClickClose()">{{mData.cancel}}</button>
            </div>
        </div>
    </div>

</div>