<div *ngIf="mData">
    <div class="m-header">
        <app-header-menu></app-header-menu>
    </div>

    <div padding32>
        <div padding32-bottom between>
            <div font2 bold>{{mData.call_title}}</div>
            <div center-line bold color-primary>
                <app-filter-bar onContact="true" listActivity="true" (sort)="onClickSort($event)"></app-filter-bar>
            </div>
        </div>

        <div flex no-wrap>

            <div padding32-horizontal width-10>
                <div>
                    <div padding-bottom [class.bold]="menuSelected==0" tappable (click)="onClickMenu(0)">
                        {{mData.all}}({{numberAll}})</div>
                </div>
            </div>

            <div width-90>
                <div class="m-table">
                    <div flex padding8-vertical [class.background-secondary]="checked">
                        <div padding-horizontal>
                            <mat-checkbox [(ngModel)]="checked" [(indeterminate)]="indeterminate"
                                (click)="onCheckAllChange()">
                            </mat-checkbox>
                        </div>

                        <div flex [hidden]="!checked&&!indeterminate">
                            <div padding-start center-line style="font-weight: normal;">{{numberOfItemSelected}}
                                {{mData.selected}}</div>
                            <div padding-start></div>
                            <div *ngFor="let item of mData.call.list_select; let i = index" padding-start bold
                                center-line tappable (click)="onClickAssign(i)">
                                {{item.name}}
                            </div>
                        </div>

                        <div flex [hidden]="checked||indeterminate">
                            <div style="width: 150px;" class="bold center-line" (click)="onSort()" tappable>
                                {{mData.call.call_to}}
                            </div>
                            <div style="width: 250px;" class="bold center-line" (click)="onSort()" tappable>
                                {{mData.call.company}}
                            </div>
                            <div style="width: 300px;" class="bold center-line" (click)="onSort()" tappable>
                                {{mData.call.description}}
                            </div>
                            <div style="width: 120px;" class="bold center-line" (click)="onSort()" tappable>
                                {{mData.call.state}}
                            </div>
                            <div style="width: 120px;" class="bold center-line" (click)="onSort()" tappable>
                                {{mData.call.create_user}}
                            </div>
                            <div style="width: 150px;" class="bold center-line" (click)="onSort()" tappable>
                                {{mData.call.create_date}}
                            </div>
                            <div style="width: 150px;" class="bold center-line" (click)="onSort()" tappable>
                                {{mData.call.due_date}}
                            </div>
                            <div style="width: 200px;" class="bold center-line" (click)="onSort()" tappable>
                                {{mData.call.comment}}
                            </div>
                        </div>
                    </div>

                    <div wrap flex *ngFor="let item of listData;let i = index" [class.background-white]="i%2==0">
                        <div padding-horizontal center-line>
                            <mat-checkbox [(ngModel)]="item.checked" (change)="onCheckBoxChange(item)">
                            </mat-checkbox>
                        </div>
                        <div padding8-vertical flex [class.background-white]="i%2==0">
                            <div style="width: 150px;" class="center-line" (click)="onClickItem(item, 1)" tappable>
                                {{item.contactName}}
                            </div>
                            <div style="width: 250px;" class="center-line" (click)="onClickItem(item, 2)" tappable>
                                {{item.companyName}}
                            </div>
                            <div style="width: 300px;" class="center-line">
                                {{item.description}}
                            </div>
                            <div style="width: 120px;" class="center-line">
                                {{item.state | callStatus}}
                            </div>
                            <div style="width: 120px;" class="center-line">
                                {{item.createName}}
                            </div>
                            <div style="width: 150px;" class="center-line">
                                {{item.timeCreate | datetimeDefault}}
                            </div>
                            <div style="width: 150px;" class="center-line">
                                {{item.timeRemind | datetimeDefault}}
                            </div>
                            <div style="width: 200px;" class="center-line">
                                {{item.comment}}
                            </div>
                        </div>
                    </div>
                </div>

                <app-pagination [page]="page" [itemPerPage]="itemPerPage" [collectionSize]="collectionSize"
                    (clickPagination)="onClickPagination($event)"
                    (clickSettingItemPerPage)="onClickSettingItemPerPage($event)">
                </app-pagination>
                
            </div>

        </div>
    </div>
</div>