<div *ngIf="mTitle">
    <div class="m-header">
        <app-header-menu></app-header-menu>
    </div>

    <div center>
        <div width-50>
            <div font2 bold padding-vertical>{{mTitle.title}}</div>

            <div font6 padding-top>{{mTitle.name}} <span color-red>*</span></div>
            <div>
                <input class="form-control" type="text" [(ngModel)]="name">
            </div>

            <div font6 padding-top>{{mTitle.username}} <span color-red>*</span></div>
            <div>
                <input class="form-control" type="text" [(ngModel)]="username">
            </div>

            <div font6 padding-top>{{mTitle.phone}}</div>
            <div>
                <input class="form-control" type="text" [(ngModel)]="phone">
            </div>

            <div font6 padding-top>{{mTitle.email}}</div>
            <div>
                <input class="form-control" type="text" [(ngModel)]="email">
            </div>

            <div font6 padding-top>{{mTitle.password}} <span color-red>*</span></div>
            <div>
                <input type="password" class="form-control" [(ngModel)]="password">
            </div>

            <div font6 padding-top>{{mTitle.re_password}} <span color-red>*</span></div>
            <div padding-bottom>
                <input type="password" class="form-control" [(ngModel)]="rePassword">
            </div>

            <div padding-top>
                <div *ngIf="missValue" [class.color-red]="!status" [class.color-success]="status" font6 center>
                    {{notification}}</div>
                <div center>
                    <button class="btn m-btn" (click)="onClickAdd()">{{mTitle.add}}</button>
                </div>
            </div>
        </div>
    </div>
</div>