<div shadow *ngIf="mData">
    <div padding background-secondary between>
        <div bold font3>{{mData.task_tag}}</div>
        <div (click)="onClickClose()" tappable>
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div flex box-border>
        <div class="col-6 padding0">
            <div padding>
                <div font7>{{mData.mission_name}}</div>
                <div font6 color-primary>
                    <input class="form-control" type="text" [placeholder]="mData.placeholder_fill"
                        [(ngModel)]="taskName">
                </div>
            </div>
        </div>
        <div class="col-6 padding0">
            <div padding>
                <div font7>{{mData.due_date}}</div>
                <div font6 color-primary flex>
                    <app-datetime-pick-date (pickDate)="pickTimeStart($event,1)">
                    </app-datetime-pick-date>
                    <app-datetime-pick-time padding-start (pickTime)="pickTimeStart($event,2)">
                    </app-datetime-pick-time>
                </div>
            </div>
        </div>
    </div>

    <div relative style="height: 200px; margin-bottom: 42px;">
        <quill-editor [modules]="mConfig" [(ngModel)]="description"></quill-editor>

        <div font6 center-line color-primary class="associate">
            <app-dropdown-associate-create width-100 activityType="5" (dropdownChange)="onAssociateChange($event)">
            </app-dropdown-associate-create>
        </div>
    </div>

    <div flex box-border>
        <div class="col-3 padding0">
            <div padding>
                <div font7>{{mData.assign_to}}</div>
                <div font6 color-primary flex>
                    <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="assignID">
                        <option *ngFor="let item of listUser" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-3 padding0">
            <div padding-vertical>
                <div font7>{{mData.type}}</div>
                <div font6 color-primary flex>
                    <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="taskType">
                        <option *ngFor="let item of listTaskType" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6 padding0">
            <div padding>
                <div font7>{{mData.remind}}</div>
                <div font6 color-primary flex>
                    <app-datetime-pick-date (pickDate)="pickTimeAssign($event,1)">
                    </app-datetime-pick-date>
                    <app-datetime-pick-time padding-start (pickTime)="pickTimeAssign($event,2)">
                    </app-datetime-pick-time>
                </div>
            </div>
        </div>
    </div>

    <div padding8 center-line box-border>
        <div>
            <button class="button m-btn" (click)="onClickSave()">{{mData.save}}</button>
        </div>
        <div padding-start center-line>
            <input type="checkbox" (change)="onInputChange($event)">
        </div>
        <div padding8-start>{{mData.follow_up}}</div>
        <div flex padding8-start color-primary [hidden]="!showTimePicker">
            <app-datetime-pick-date (pickDate)="pickTimeRemind($event)"></app-datetime-pick-date>
        </div>
    </div>
</div>