.m-btn {
    background-color: #F0E9F4;
    border: .5px solid #702C90;
    padding: 5px 40px;
    border-radius: 20px;
}
.associate {
    position: absolute;
    right: 8px;
    bottom: -30px;
}
button, input {
    border: 0 !important;
}