<div shadow relative class="m-box" *ngIf="mTitle">
    <div>
        <div color-primary>{{mObj.name}}</div>
    </div>
    <div>
        <div color-gray>{{mObj.address}}</div>
    </div>
    <div>
        <div color-primary>{{mObj.email}}</div>
    </div>

    <div class="m-type">{{mObj.role | companyRole}}</div>

    <div style="justify-content: flex-end; display: flex;">
        <button matTooltip="Xóa công ty" mat-icon-button color="warn" (click)="onClickDelete()">
            <mat-icon>delete</mat-icon>
        </button>
        <button matTooltip="Xem chi tiết" mat-icon-button color="primary" (click)="onClickDetail()">
            <mat-icon>visibility</mat-icon>
        </button>
    </div>
</div>