.m-box {
    border-radius: 5px;
    padding: 0 16px 16px 16px;
}

.m-type {
    position: absolute;
    top: 8px;
    right: 8px;
    font-weight: bold;
    font-size: .7rem;
    color: blueviolet;
}