<div *ngIf="mData">
    <div class="m-header">
        <app-header-menu></app-header-menu>
    </div>

    <div padding32>
        <div padding32-bottom between>
            <div font2 bold>{{mData.note_title}}</div>
            <div center-line bold color-primary>
                <div padding-end>
                    <input type="search" class="form-control" (change)="onSearchChange($event)" />
                </div>
                <div class="box-add" [class.show-div]="addSub==1">
                    <app-add-contact [addOut]="1" (closeAddSub)="onClickCloseAdd($event)"></app-add-contact>
                </div>
            </div>
        </div>

        <div flex no-wrap>

            <div padding32-horizontal style="width: 300px;">
                <div>
                    <div padding-bottom [class.bold]="menuSelected==0" tappable (click)="onClickMenu(0)">
                        {{mData.all}}({{contactInfo.all}})</div>
                    <div padding-bottom [class.bold]="menuSelected==1" tappable (click)="onClickMenu(1)">
                        {{mData.due_today}}({{contactInfo.today}})</div>
                    <div padding-bottom [class.bold]="menuSelected==2" tappable (click)="onClickMenu(2)">
                        {{mData.due_week}}({{contactInfo.week}})</div>
                </div>
            </div>

            <div width-fill>
                <div>
                    <div flex padding8-vertical [class.background-whitesmoke]="!checked"
                        [class.background-secondary]="checked">
                        <div padding-horizontal>
                            <mat-checkbox [(ngModel)]="checked" [(indeterminate)]="indeterminate"
                                (click)="onCheckAllChange()">
                            </mat-checkbox>
                        </div>

                        <div flex [hidden]="!checked&&!indeterminate">
                            <div padding-start center-line style="font-weight: normal;">{{numberOfItemSelected}}
                                {{mData.selected}}</div>
                            <div padding-start></div>
                            <div *ngFor="let item of mData.call.list_select; let i = index" padding-start bold
                                center-line tappable (click)="onClickAssign(i)">
                                {{item.name}}
                            </div>
                        </div>

                        <div flex width-fill>
                            <div class="width-70 bold center-line" [hidden]="checked||indeterminate" (click)="onSort()"
                                tappable>
                                {{mData.call.description}}
                            </div>
                            <div class="width-30 bold center-line" [hidden]="checked||indeterminate" (click)="onSort()"
                                tappable>
                                {{mData.call.due_date}}
                            </div>
                        </div>
                    </div>

                    <div class="padding8-vertical flex" *ngFor="let item of listDataSort;let i = index"
                        [class.background-whitesmoke]="i%2==1">
                        <div padding-horizontal center-line>
                            <mat-checkbox [checked]="item.checked" (click)="onCheckBoxChange(item)">
                            </mat-checkbox>
                        </div>
                        <div class="width-70 center-line overflow-hidden margin8-end" [innerHTML]="item.description"
                            (click)="onClickItem(item)" tappable>
                        </div>
                        <div class="width-30 center-line overflow-hidden margin8-end">
                            {{item.timeRemind | datetimeFull}}
                        </div>
                    </div>
                </div>

                <div center padding-top>
                    <ngb-pagination [collectionSize]="collectionSize" [maxSize]="9" [(page)]="page" [pageSize]="pageSize"
                        (click)="onClickPagination()">
                    </ngb-pagination>
                </div>
            </div>

        </div>
    </div>
</div>