<div style="display: flex; justify-content: flex-end;">
    <mat-form-field [hidden]="!sortUser">
        <mat-label>User</mat-label>
        <mat-select #userSelect>
            <mat-option *ngFor="let item of listUser" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field [hidden]="!sortStep">
        <mat-label>Bước</mat-label>
        <mat-select #stepSelect>
            <mat-option *ngFor="let item of listStep" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field [hidden]="!sortCity">
        <mat-label>Tỉnh/TP</mat-label>
        <mat-select #citySelect>
            <mat-option *ngFor="let item of listCity" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field [hidden]="!sortTimeType">
        <mat-label>Loại tg</mat-label>
        <mat-select #timeTypeSelect>
            <mat-option value="1">Tg tạo</mat-option>
            <mat-option value="2">Tg hết hạn</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field [hidden]="!sortTimeStart">
        <mat-label>Tg bắt đầu</mat-label>
        <input #dateStartInput matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field [hidden]="!sortTimeEnd">
        <mat-label>Tg kết thúc</mat-label>
        <input #dateEndInput matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field [hidden]="!sortSearch">
        <mat-label>Tìm kiếm</mat-label>
        <input #searchKeyInput matInput placeholder="Nhập từ khóa">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Bộ lọc</mat-label>
        <mat-select multiple (selectionChange)="onSortChange($event)">
            <mat-option *ngFor="let item of toppingList" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button matTooltip="Làm mới dữ liệu" style="animation: fadeIn 300ms;" *ngIf="dateStartInput.value||dateEndInput.value||searchKeyInput.value||userSelect.value||stepSelect.value||citySelect.value||timeTypeSelect.value" mat-mini-fab color="primary" (click)="onClickClear()">
        <mat-icon>refresh</mat-icon>
    </button>

    <div padding-start></div>
    <button matTooltip="Lọc" mat-mini-fab color="primary" (click)="onClickSort()">
        <mat-icon>filter_alt</mat-icon>
    </button>

    <div padding-start *ngIf="!noAdd"></div>
    <button matTooltip="Thêm mới" *ngIf="!noAdd" mat-mini-fab color="primary" (click)="onClickAdd()">
        <mat-icon>add</mat-icon>
    </button>

    <div padding-start *ngIf="noImport"></div>
    <button matTooltip="Import dữ liệu" *ngIf="noImport" mat-mini-fab color="accent" (click)="onClickImport()">
        <mat-icon>import_export</mat-icon>
    </button>

</div>