.label-title {
  font-size: x-large;
  font-family: none;
  font-weight: bold;
  padding-left: 2%;
}

.padding-content {
  padding: 1% 2% 0 2%;
}

.flex-warp {
  flex-wrap: wrap;
}

.flex-warp mat-form-field {
  width: 50%;
  padding: 0% 1% 0% 1%;
}

.padding1 {
  padding: 1%;
}

.button-margin-right {
  margin-right: 2%;
}
