<div shadow *ngIf="mData">
    <div padding background-secondary between>
        <div bold font3>{{mData.email_tag}}</div>
        <div (click)="onClickClose()" tappable>
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div flex box-border>
        <div class="col-3 padding0">
            <div padding>
                <div font7>{{mData.contact}}</div>
                <div font6 color-primary flex>
                    <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="contactID">
                        <option *ngFor="let item of listContact" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-3 padding0">
            <div padding-vertical>
                <div font7>{{mData.out_come}}</div>
                <div font6 color-primary flex>
                    <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="outcomeType">
                        <option *ngFor="let item of listOutcome" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6 padding0">
            <div padding>
                <div font7>{{mData.datetime}}</div>
                <div font6 color-primary flex>
                    <app-datetime-pick-date (pickDate)="pickDate($event,1)">
                    </app-datetime-pick-date>
                    <app-datetime-pick-time padding-start (pickTime)="pickDate($event,2)">
                    </app-datetime-pick-time>
                </div>
            </div>
        </div>
    </div>

    <div relative style="height: 200px; margin-bottom: 42px;">
        <quill-editor [modules]="mConfig" [(ngModel)]="quillValue"></quill-editor>

        <div font6 center-line color-primary class="associate">
            <app-dropdown-associate-create width-100 activityType="2" (dropdownChange)="onAssociateChange($event)">
            </app-dropdown-associate-create>
        </div>
    </div>

    <div padding8 center-line box-border>
        <div>
            <button class="button m-btn" (click)="onClickSave()">{{mData.save}}</button>
        </div>
        <div padding-start center-line>
            <input type="checkbox" (change)="onInputChange($event)">
        </div>
        <div padding8-start>{{mData.follow_up}}</div>
        <div flex padding8-start color-primary [hidden]="!showTimePicker">
            <app-datetime-pick-date (pickDate)="onPickDate($event)"></app-datetime-pick-date>
        </div>
    </div>
</div>