.label-title {
  font-size: x-large;
  font-family: none;
  font-weight: bold;
  padding-left: 2%;
}
.form-padding {
  padding: 0% 10% 0% 10%;
}

.title-form {
  font-size: x-large;
  color: #702c90;
}
.input-p span {
  width: 20%;
  padding-top: 3%;
}

.input-p mat-form-field {
  width: 80%;
}

.input-p {
  margin: unset;
}
