.m-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.m-content {
  padding-top: 100px;
}

.padding-right1 {
  padding-right: 1%;
}

.padding-right2 {
  padding-right: 2%;
}

.padding-right3 {
  padding-right: 3%;
}

.padding-left6 {
  padding-left: 6%;
}

.padding-bottom1 {
  padding-bottom: 1%;
}

.margin-bottom1 {
  margin-bottom: 1%;
}
.padding1 {
  padding: 1%;
}

.padding-top1 {
  padding-top: 1%;
}

.padding-top2 {
  padding-top: 2%;
}

.margin-right2 {
  margin-right: 2%;
}

.margin-right3 {
  margin-right: 3%;
}

.width-36 {
  width: 36%;
}

.width-65 {
  width: 65%;
}
.margin-bottom2 {
  margin-bottom: 2%;
}
