<div *ngIf="mData">
    <div class="m-header">
        <app-header-menu></app-header-menu>
    </div>

    <div padding32>
        <div padding32-bottom between>
            <div font2 bold>{{mData.company_title}}</div>
            <div center-line bold color-primary>
                <div padding-end>
                    <input type="search" class="form-control" (change)="onSearchChange($event)" />
                </div>
                <!-- <div flex padding-end>
                    <div>{{mData.action}}</div>
                    <mat-icon>arrow_drop_down</mat-icon>
                </div> -->
                <!-- <div padding-end>{{mData.import}}</div> -->
                <!-- <div padding-end>{{mData.export}}</div> -->
                <div tappable (click)="onClickAdd()">{{mData.create_new}}</div>

                <div class="box-add" [class.show-div]="addSub==1">
                    <app-add-company [addOut]="1" (closeAddSub)="onClickCloseAdd($event)"></app-add-company>
                </div>
            </div>
        </div>

        <div flex no-wrap>

            <div padding32-horizontal style="width: 300px;">
                <div>
                    <div padding-bottom [class.bold]="menuSelected==0" tappable (click)="onClickMenu(0)">
                        {{mData.all_company}}({{dataInfo.all}})</div>
                    <div padding-bottom [class.bold]="menuSelected==1" tappable (click)="onClickMenu(1)">
                        {{mData.unassign_company}}({{dataInfo.other}})</div>
                    <div padding-bottom [class.bold]="menuSelected==2" tappable (click)="onClickMenu(2)">
                        {{mData.follow_company}}({{dataInfo.follow}})</div>
                </div>
                <div padding32-top>
                    <div bold color-primary>{{mData.company.add_filter}}</div>
                </div>
            </div>

            <div width-fill>
                <div>
                    <div flex padding8-vertical [class.background-whitesmoke]="!checked"
                        [class.background-secondary]="checked">
                        <div padding-horizontal center-line>
                            <mat-checkbox [(ngModel)]="checked" [(indeterminate)]="indeterminate"
                                (click)="onCheckAllChange()">
                            </mat-checkbox>
                        </div>

                        <div flex [hidden]="!checked&&!indeterminate">
                            <div padding-start center-line style="font-weight: normal;">{{numberOfItemSelected}}
                                {{mData.selected}}</div>
                            <div padding-start></div>
                            <div *ngFor="let item of mData.company.list_select; let i = index" padding-start bold
                                center-line tappable (click)="onClickAssign(i)">
                                {{item.name}}
                            </div>
                        </div>

                        <div flex width-fill>
                            <div class="width-30 bold center-line" [hidden]="checked||indeterminate" (click)="onSort()"
                                tappable>
                                {{mData.company.name}}
                            </div>
                            <div class="width-20 bold center-line" [hidden]="checked||indeterminate" (click)="onSort()"
                                tappable>
                                {{mData.company.owner}}
                            </div>
                            <div class="width-10 bold center-line" [hidden]="checked||indeterminate" (click)="onSort()"
                                tappable>
                                {{mData.company.phone}}
                            </div>
                            <div class="width-30 bold center-line" [hidden]="checked||indeterminate" (click)="onSort()"
                                tappable>
                                {{mData.company.address}}
                            </div>
                            <div class="width-10 bold center-line" [hidden]="checked||indeterminate" (click)="onSort()"
                                tappable>
                                {{mData.company.country}}
                            </div>
                        </div>
                    </div>

                    <div class="padding8-vertical flex" *ngFor="let item of listDataSort;let i = index"
                        [class.background-whitesmoke]="i%2==1">
                        <div padding-horizontal center-line>
                            <mat-checkbox [checked]="item.checked" (click)="onCheckBoxChange(item)">
                            </mat-checkbox>
                        </div>
                        <div class="width-30 center-line overflow-hidden margin8-end" (click)="onClickItem(item)"
                            tappable>
                            {{item.name}}
                        </div>
                        <div class="width-20 center-line overflow-hidden margin8-end">
                            {{item.ownerName}}
                        </div>
                        <div class="width-10 center-line overflow-hidden margin8-end">
                            {{item.phone}}
                        </div>
                        <div class="width-30 center-line overflow-hidden margin8-end">
                            {{item.address}}
                        </div>
                        <div class="width-10 center-line overflow-hidden margin8-end">
                            {{item.country}}
                        </div>
                    </div>
                </div>

                <div center padding-top>
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                        (click)="onClickPagination()">
                    </ngb-pagination>
                </div>
            </div>

        </div>
    </div>
</div>