<div *ngIf="mData">
    <div center-line>
        <div padding-end *ngIf="!onContact">
            <div>{{mData.step}}</div>
            <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="stepID">
                <option *ngFor="let item of listStep" [ngValue]="item.id">{{item.name}}</option>
            </select>
        </div>
        <div padding-end *ngIf="!onContact">
            <div>{{mData.city}}</div>
            <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="cityID">
                <option *ngFor="let item of listCity" [ngValue]="item.id">{{item.name}}</option>
            </select>
        </div>
        <div padding-end>
            <div>{{mData.user}}</div>
            <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="userID">
                <option *ngFor="let item of listUser" [ngValue]="item.id">{{item.name}}</option>
            </select>
        </div>
        <div padding-end *ngIf="listActivity">
            <div>{{mData.time_type}}</div>
            <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="timeType">
                <option [ngValue]="1">{{mData.create_date}}</option>
                <option [ngValue]="2">{{mData.due_date}}</option>
            </select>
        </div>
        <div padding-end>
            <div>{{mData.time_from}}</div>
            <app-datetime-pick-date [mDate]="timeFrom" (pickDate)="onPickDate($event,1)"></app-datetime-pick-date>
        </div>
        <div padding-end>
            <div>{{mData.time_to}}</div>
            <app-datetime-pick-date [mDate]="timeTo" (pickDate)="onPickDate($event,2)"></app-datetime-pick-date>
        </div>
        <div padding-end>
            <button mat-raised-button color="primary" (click)="onClickClear()">{{mData.clear}}</button>
        </div>
        <div padding-end>
            <button mat-raised-button color="primary" (click)="onClickSort()">{{mData.sort}}</button>
        </div>
        <div padding-end *ngIf="!listActivity">
            <input type="search" class="form-control" [(ngModel)]="searchKey" (keyup.enter)="onSearchChange($event)" />
        </div>
        <div *ngIf="!listActivity" [hidden]="noCreate">
            <button mat-raised-button color="primary" (click)="onClickAdd()">{{mData.create_new}}</button>
        </div>
    </div>
</div>