.button-margin-right {
  margin-right: 2%;
}
.span-custom {
  font-weight: bold;
  font-size: x-large;
}

.table-container {
  width: 100%;
  padding-top: 5%;
}

.padding1 {
  padding: 1%;
}

.modal-margin-inherit {
  margin: inherit;
}

.width80{
  width: 80%;
}
