<div *ngIf="mTitle">
  <div class="m-header">
    <app-header-menu menuIndex="6"></app-header-menu>
  </div>

  <div class="padding m-content">
    <div no-wrap>
      <div class="d-flex justify-content-between padding1">
        <div>
          <span class="span-custom">MAILMERGE CAMPAIGN LIST</span>
        </div>
        <div class="d-flex flex-row">
          <button mat-raised-button class="button-margin-right">
            <mat-icon>search</mat-icon>Search
          </button>
          <button mat-raised-button class="button-margin-right">
            <mat-icon>miscellaneous_services</mat-icon>Option
          </button>
          <button mat-raised-button color="primary" (click)="onClickAdd()">
            <mat-icon>add_circle_outline</mat-icon>Add new
          </button>
        </div>
      </div>
      <app-table-category
        (clickPagination)="onClickPagination($event)"
        (clickEdit)="onClickEdit($event)"
      ></app-table-category>
    </div>
  </div>
</div>
