<div shadow padding relative class="m-box" *ngIf="mTitle">
    <div between>
        <div color-primary bold font4>{{mObj.amount}} USD</div>
        <div font6>{{mObj.timeCreate | datetimeFull}}</div>
    </div>

    <div flex padding-top>
        <div class="m-week" *ngFor="let item of listWeek">
            <div class="m-week-in" [class.week-has-val]="item.hasValue"></div>
        </div>
    </div>

    <div class="row" padding-top>
        <div class="col-8" flex color-primary>
            <select class="custom-select border0 font6 color-primary width-100" [(ngModel)]="mObj.stageID" (change)="onChangeStage()">
                <option *ngFor="let item of listDealStage" [ngValue]="item.stage">{{item.name}}</option>
            </select>
        </div>
    </div>

    <div class="row" padding8-top>
        <div class="col-4">{{mTitle.close_date}}</div>
        <div class="col-8">
            <div color-primary>{{mObj.timeClose | datetimeDate}}</div>
        </div>
    </div>

    <div class="btn-detail">
        <div>
            <button class="m-btn btn btn-sm" (click)="onClickDelete()">{{mTitle.delete}}</button>
        </div>
        <div padding8-top>
            <button class="m-btn btn btn-sm">{{mTitle.detail}}</button>
        </div>
    </div>
</div>