<div shadow padding relative class="m-box" *ngIf="mData">
    <div between>
        <div color-primary bold font4>{{mObj.Amount}} USD</div>
        <div font6>{{mObj.TimeCreate | datetimeFull}}</div>
    </div>

    <div flex padding-top>
        <div class="m-week" *ngFor="let item of listWeek">
            <div class="m-week-in" [class.week-has-val]="item.hasValue"></div>
        </div>
    </div>

    <div class="row" padding-top>
        <div class="col-4">{{mData.stage}}</div>
        <div class="col-8" flex color-primary>
            <div>{{mObj.State}}</div>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
    </div>

    <div class="row" padding8-top>
        <div class="col-4">{{mData.close_date}}</div>
        <div class="col-8">
            <div color-primary>{{mObj.TimeClose | datetimeDate}}</div>
        </div>
    </div>

    <div class="btn-detail">
        <button class="m-btn btn btn-sm">{{mData.detail}}</button>
    </div>
</div>