<ngb-toast class="m-toast" *ngIf="showToast" [autohide]="false">{{toasMessage}}</ngb-toast>

<div *ngIf="mData&&mObj">
    <div between padding32-bottom>
        <div class="m-title" tappable (click)="onClickBack()">
            <div center padding-start>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </div>
            <div padding-end>{{mData.btn_task.name}}</div>
            <div center padding8-end>
                <mat-icon>{{mData.btn_task.icon}}</mat-icon>
            </div>
        </div>
        <div color-primary bold center-line tappable>
            <div ngbDropdown class="d-inline-block">
                <button class="btn" id="dropdownBasic1" ngbDropdownToggle>{{mData.action}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="onClickFollow()">{{mObj.follow | follow}}</button>
                    <button ngbDropdownItem (click)="onClickDelete()">{{mData.delete}}</button>

                </div>
            </div>
        </div>
    </div>
    <div padding32 center>
        <div bold font3 padding8-end>{{mObj.name}}</div>
    </div>

    <div padding32 border-bottom center>
        <div style="height: 100px !important;" padding8 *ngFor="let item of mData.list_icon"
            (click)="onClickItem(item.index)" tappable>
            <div center>
                <mat-icon mat-icon-size color-primary [svgIcon]="item.icon"></mat-icon>
            </div>
            <div>{{item.name}}</div>
        </div>
    </div>

    <div padding32>
        <div bold>{{mData.info.title}}</div>
        <div padding-top>
            <div font7>{{mData.info.name}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [placeholder]="mData.name" [value]="mObj.name"
                    (change)="onInputChange($event, 1)">
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.short_name}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [placeholder]="mData.short_name"
                    [value]="mObj.shortName" (change)="onInputChange($event, 2)">
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.address}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [placeholder]="mData.address" [value]="mObj.address"
                    (change)="onInputChange($event, 3)">
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.phone}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [placeholder]="mData.phone" [value]="mObj.phone"
                    (change)="onInputChange($event, 4)">
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.time_active}}</div>
            <div font6 color-primary flex>
                <app-datetime-pick-date [mDate]="mObj.timeActive" (pickDate)="onInputChange($event,9)">
                </app-datetime-pick-date>
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.email}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [placeholder]="mData.email" [value]="mObj.email"
                    (change)="onInputChange($event, 5)">
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.city}}</div>
            <div relative class="m-input">
                <select class="custom-select border-0" width-100 [(ngModel)]="mObj.cityID"
                    (change)="onInputChange($event, 6)">
                    <option *ngFor="let item of listCity" [ngValue]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.step}}</div>
            <div relative class="m-input">
                <select class="custom-select border-0" width-100 [(ngModel)]="mObj.stageID"
                    (change)="onInputChange($event, 8)">
                    <option *ngFor="let item of listStep" [ngValue]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.website}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [value]="mObj.website"
                    (change)="onInputChange($event, 7)">
            </div>
        </div>
    </div>
</div>