<div *ngIf="mData&&mObj">
    <div between padding32-bottom>
        <div class="m-title" tappable (click)="onClickBack()">
            <div center padding-start>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </div>
            <div padding-end>{{mData.btn_task.name}}</div>
            <div center padding8-end>
                <mat-icon>{{mData.btn_task.icon}}</mat-icon>
            </div>
        </div>
        <div color-primary bold center-line tappable>
            <div>{{mData.action}}</div>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
    </div>
    <div padding32 center>
        <div bold font3 padding8-end>{{mObj.name}}</div>
        <mat-icon color-primary>{{mData.btn_edit}}</mat-icon>
    </div>

    <div padding32 border-bottom center>
        <div padding8 *ngFor="let item of mData.list_icon" (click)="onClickItem(item.index)" tappable>
            <div center>
                <mat-icon mat-icon-size color-primary [svgIcon]="item.icon"></mat-icon>
            </div>
            <div>{{item.name}}</div>
        </div>
    </div>

    <div padding32>
        <div bold>{{mData.info.title}}</div>
        <div padding-top>
            <div font7>{{mData.info.name}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [placeholder]="mData.name" [value]="mObj.name"
                    (change)="onInputChange($event, 1)">
                <button class="m-btn btn btn-sm">{{mData.detail}}</button>
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.short_name}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [placeholder]="mData.short_name"
                    [value]="mObj.shortName" (change)="onInputChange($event, 2)">
                <button class="m-btn btn btn-sm">{{mData.detail}}</button>
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.address}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [placeholder]="mData.address" [value]="mObj.address"
                    (change)="onInputChange($event, 3)">
                <button class="m-btn btn btn-sm">{{mData.detail}}</button>
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.phone}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [placeholder]="mData.phone" [value]="mObj.phone"
                    (change)="onInputChange($event, 4)">
                <button class="m-btn btn btn-sm">{{mData.detail}}</button>
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.email}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [placeholder]="mData.email" [value]="mObj.email"
                    (change)="onInputChange($event, 5)">
                <button class="m-btn btn btn-sm">{{mData.detail}}</button>
            </div>
        </div>
        <div padding-top>
            <div font7>{{mData.info.country}}</div>
            <div relative class="m-input">
                <input class="form-control border-0" type="text" [placeholder]="mData.country" [value]="mObj.country"
                    (change)="onInputChange($event, 6)">
                <button class="m-btn btn btn-sm">{{mData.detail}}</button>
            </div>
        </div>
    </div>
</div>