<div shadow height-100 *ngIf="mTitle">
    <div class="mm-header" padding between>
        <div bold font3>{{mTitle.component_title.add_company}}</div>
        <div (click)="onClickClose()" tappable>
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div padding height-90>

        <mat-tab-group focusIndex="0">
            <mat-tab [label]="mTitle.nav_button_title.add_parent_company">
                <div padding>
                    <input type="search" [placeholder]="mTitle.placeholder_title.search" class="form-control" (change)="onSeachCompany($event)" />
                </div>

                <div *ngIf="listCompany.length>0" padding-horizontal style="overflow-y: scroll; max-height: 700px;">
                    <div padding-top *ngFor="let item of listCompany">

                        <div padding8 between border-bottom>
                            <div>
                                <div bold>{{item.name}}</div>
                                <div>{{item.phone}}</div>
                            </div>
                            <div>
                                <button matTooltip="Thêm liên hệ" mat-icon-button color="primary" (click)="onClickAddCompany(item,1)">
                                    <mat-icon>queue</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="mTitle.nav_button_title.add_child_company">
                <div padding>
                    <input type="search" [placeholder]="mTitle.placeholder_title.search" class="form-control" (change)="onSeachCompany($event)" />
                </div>

                <div *ngIf="listCompany.length>0" padding-horizontal style="overflow-y: scroll; max-height: 700px;">
                    <div padding-top *ngFor="let item of listCompany">

                        <div padding8 between border-bottom>
                            <div>
                                <div bold>{{item.name}}</div>
                                <div>{{item.phone}}</div>
                            </div>
                            <div>
                                <button matTooltip="Thêm liên hệ" mat-icon-button color="primary" (click)="onClickAddCompany(item,2)">
                                    <mat-icon>queue</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="mTitle.nav_button_title.create_new_comapny">
                <div padding32-vertical>

                    <form [formGroup]="myForm">
                        <div padding-start center-line>
                            <mat-form-field width-100>
                                <mat-label>Tên</mat-label>
                                <input matInput type="text" formControlName="name" required>
                            </mat-form-field>
                        </div>

                        <div padding-start center-line>
                            <mat-form-field width-100>
                                <mat-label>Tên viết tắt</mat-label>
                                <input matInput type="text" formControlName="shortName">
                            </mat-form-field>
                        </div>

                        <div padding-start>
                            <mat-form-field width-100>
                                <mat-label>Tỉnh/TP</mat-label>
                                <mat-select formControlName="cityID" required>
                                    <mat-option *ngFor="let item of listCity" [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div padding-start *ngIf="!isNoID">
                            <mat-form-field width-100>
                                <mat-label>Vai trò</mat-label>
                                <mat-select formControlName="role" required>
                                    <mat-option *ngFor="let item of listCompanyRole" [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div padding-start>
                            <mat-form-field width-100>
                                <mat-label>Điện thoại</mat-label>
                                <input matInput type="text" formControlName="phone">
                            </mat-form-field>
                        </div>

                        <div padding-start>
                            <mat-form-field width-100>
                                <mat-label>Email</mat-label>
                                <input matInput type="text" formControlName="email">
                            </mat-form-field>
                        </div>

                        <div padding-start>
                            <mat-form-field width-100>
                                <mat-label>Địa chỉ</mat-label>
                                <input matInput type="text" formControlName="address">
                            </mat-form-field>
                        </div>
                    </form>

                </div>

                <div padding>
                    <div style="justify-content: flex-end; display: flex;">

                        <button mat-raised-button color="warn" (click)="onClickClose()">Hủy</button>
                        <div padding-start></div>
                        <button mat-raised-button color="primary" (click)="onClickSave()" [disabled]="!myForm.valid">Lưu</button>

                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>

</div>