<div shadow height-100 *ngIf="mData">
    <div class="m-header" padding between>
        <div bold font3>{{mData.add_company}}</div>
        <div (click)="onClickClose()" tappable>
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div padding height-90>
        <div>{{mData.contact_intro}}</div>

        <ul padding-top bold ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem (click)="onClickAdd(1)">
                <a ngbNavLink>{{mData.add_parent_company}}</a>
            </li>
            <li ngbNavItem (click)="onClickAdd(2)">
                <a ngbNavLink>{{mData.add_child_company}}</a>
            </li>
            <li ngbNavItem (click)="onClickAdd(3)">
                <a ngbNavLink>{{mData.create_new_comapny}}</a>
            </li>
        </ul>

        <div [hidden]="btnType!=1" height-80>
            <div padding>
                <input type="search" [placeholder]="mData.placeholder" class="form-control"
                    (change)="onSeachCompany($event)" />
            </div>

            <div padding-horizontal height-90 style="overflow-y: scroll;">
                <div padding-top *ngFor="let item of listCompany">
                    <div padding8 class="m-contact">
                        <div bold>{{item.name}}</div>
                        <div>{{item.phone | na}}</div>
                        <div>
                            <button class="btn-add btn-sm" type="button"
                                (click)="onClickAddCompany(item, 1)">{{mData.add_company}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [hidden]="btnType!=2">
            <div padding>
                <input type="search" [placeholder]="mData.placeholder" class="form-control"
                    (change)="onSeachCompany($event)" />
            </div>

            <div padding-horizontal>
                <div padding-top *ngFor="let item of listCompany">
                    <div padding8 class="m-contact">
                        <div bold>{{item.name}}</div>
                        <div>{{item.phone | na}}</div>
                        <div>
                            <button class="btn-add btn-sm" type="button"
                                (click)="onClickAddCompany(item, 2)">{{mData.add_company}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div padding32-top [hidden]="btnType!=3">
            <div padding-start center-line>
                <div class="col-3" font6>{{mData.name}}</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="name">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.short_name}}</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="shortName">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.hand_phone}}</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="phone">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.email}}</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="email">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.address}}</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="address">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.city}}</div>
                <div class="col-9">
                    <select class="custom-select" width-100 [(ngModel)]="city">
                        <option *ngFor="let item of listCity" [ngValue]="item">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div padding-start padding-top center-line *ngIf="!addOut">
                <div class="col-3" font6>{{mData.company_role}}</div>
                <div class="col-9">
                    <select class="custom-select" width-100 [(ngModel)]="role">
                        <option *ngFor="let item of listCompanyRole" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>

        </div>


    </div>

    <div padding background-white class="m-footer">
        <div flex>
            <div padding-vertical>
                <button mat-raised-button color="primary" [disabled]="!btnCanClicked"
                    (click)="onClickSave()">{{mData.save}}</button>
            </div>
            <div padding>
                <button mat-raised-button color="accent" (click)="onClickClose()">{{mData.cancel}}</button>
            </div>
        </div>
    </div>

</div>