[logo] {
    height: 80px;
    width: 80px;
}
[logo1] {
    height: 10vh;
}

.header {
    display: flex;
    padding: 32px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px 0;
}