<ngb-toast class="m-toast" *ngIf="showToast" [autohide]="false">{{toasMessage}}</ngb-toast>

<div *ngIf="mData">
    <div style="position: absolute; top: 16px; right: 16px;" tappable (click)="onClickSetting()">
        <mat-icon>settings_applications</mat-icon>
    </div>
    <div background-whitesmoke>
        <div class="container header">
            <div>
                <img logo [src]="mData.logo">
            </div>
            <div center-line padding-start>
                <div>
                    <h4 bold>{{mData.company_name}}</h4>
                    <h4>{{mData.company_name1}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 200px;">
        <div center padding-vertical>
            <div padding-top>
                <img logo1 [src]="mData.logo1">
                <div padding-vertical>
                    <h4 bold>{{mData.title}}</h4>
                    <h4 bold>{{mData.title1}}</h4>
                </div>

                <div padding-vertical>
                    <div [hidden]="!setting">
                        <div padding-bottom>
                            <input type="text" class="form-control" [placeholder]="mData.ip" [(ngModel)]="ip">
                        </div>
                        <div padding-bottom>
                            <input type="text" class="form-control" [placeholder]="mData.db_name" [(ngModel)]="dbName">
                        </div>
                    </div>

                    <div padding-bottom>
                        <input type="text" class="form-control" [placeholder]="mData.username" [(ngModel)]="username">
                    </div>
                    <div padding-bottom>
                        <input type="password" class="form-control" [placeholder]="mData.password"
                            [(ngModel)]="password">
                    </div>
                </div>


                <div padding-bottom>
                    <button type="button" class="btn background-primary color-white width-100"
                        (click)="onClickLogin()">{{mData.btn_login}}</button>
                </div>

            </div>
        </div>

        <div padding-vertical center>
            <div class="text-center">
                <h6 bold>{{mData.sub}}</h6>
                <h6>{{mData.sub1}}</h6>
            </div>
        </div>
    </div>

    <div class="footer background-secondary">
        <div class="container font6">
            <div bold>{{mData.ft_title}}</div>
            <div>{{mData.ft_name}}</div>
            <div>{{mData.ft_address}}</div>
            <div>{{mData.ft_email}}</div>
            <div>{{mData.ft_website}}</div>
            <div>{{mData.ft_phone}}</div>
        </div>
    </div>
</div>