<div *ngIf="mTitle">

    <div style="position: absolute; top: 16px; right: 16px;" tappable (click)="onClickSetting()">
        <mat-icon>settings</mat-icon>
    </div>

    <div background-whitesmoke>
        <div class="container header">
            <div>
                <img logo src="../../assets/img/logo.png">
            </div>
            <div center-line padding-start>
                <div>
                    <h4 bold>NAM AN PHÚ</h4>
                    <h4>TECHNOLOGIES JSC</h4>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 200px;">
        <div center padding-vertical>
            <div padding-top>
                <img logo1 src="../../assets/img/logo1.png">
                <div padding-vertical>
                    <h4 bold>GIẢI PHÁP PHẦN MỀM QUẢN LÝ</h4>
                    <h4 bold>DỊCH VỤ LOGISTICS</h4>
                </div>

                <div padding-vertical>

                    <div [hidden]="!setting">
                        <div padding-bottom>
                            <input type="text" class="form-control" [placeholder]="mTitle.placeholder_title.ip" [(ngModel)]="ip">
                        </div>
                        <div padding-bottom>
                            <input type="text" class="form-control" [placeholder]="mTitle.placeholder_title.db_name" [(ngModel)]="dbName">
                        </div>
                    </div>

                    <div padding-bottom>
                        <input type="text" class="form-control" [placeholder]="mTitle.placeholder_title.username" [(ngModel)]="username">
                    </div>
                    <div padding-bottom>
                        <input type="password" class="form-control" [placeholder]="mTitle.placeholder_title.password" [(ngModel)]="password" (keyup.enter)="onClickLogin()">
                    </div>
                </div>


                <div padding-bottom>
                    <h6 class="color-danger text-center">{{loginMessage}}</h6>
                    <button type="button" class="btn background-primary color-white width-100" (click)="onClickLogin()">{{mTitle.button_title.login}}</button>
                </div>

            </div>
        </div>

    </div>

    <div class="footer background-secondary">
        <div class="container font6">
            <div bold>THÔNG TIN LIÊN HỆ</div>
            <div>CÔNG TY CỔ PHẦN CÔNG NGHỆ NAM AN PHÚ</div>
            <div>Địa chỉ: B1 HUD2 Linh Đàm, Hoàng Mai, Hà Nội, Việt Nam</div>
            <div>Email: info.namanphu@gmail.com</div>
            <div>Website: http://www/namanphu.com.vn</div>
            <div>Điện thoại: 024 35550 1618</div>
        </div>
    </div>
</div>