<div flex>
    <!-- <select style="margin-right: 3px;" class="custom-select border0 font6" width-100 [(ngModel)]="hour">
        <option *ngFor="let item of listHour" [ngValue]="item">{{item}}</option>
    </select>

    <select class="custom-select border0 font6" width-100 [(ngModel)]="min">
        <option *ngFor="let item of listMinute" [ngValue]="item">{{item}}</option>
    </select>
    <div center>
        <mat-icon>alarm</mat-icon>
    </div> -->
    <input class="m-btn form-control font6" type="time" value="00:00">
</div>