<div *ngIf="mTitle">
  <div class="m-header">
    <app-header-menu menuIndex="6"></app-header-menu>
  </div>
  <div class="padding m-content">
    <div class="d-flex justify-content-end padding-bottom1">
      <button
        mat-raised-button
        class="button-margin-right"
      >
        <mat-icon>add_box</mat-icon>New field
      </button>
      <button mat-raised-button class="button-margin-right" color="primary" (click)="onClickSave($event)">
        <mat-icon>save</mat-icon>Save
      </button>
      <button mat-raised-button class="button-margin-right" color="accent" (click)="onClickSaveClose($event)">
        <mat-icon>save</mat-icon>Save & Close
      </button>
      <button mat-raised-button color="warn" (click)="onClickClose($event)">
        <mat-icon>close</mat-icon>Close
      </button>
    </div>
    <div class="d-flex flex-row">
      <div class="col-md-3 padding-top">
        <div class="row">
          <div class="col d-flex flex-column">
            <strong>Tên trường</strong>
            <span>OurRef</span>
            <span>P.A.T</span>
            <span>Applicat</span>
            <span>Application No.</span>
            <span>Class A</span>
            <span>Filling date</span>
            <span>Prior trademark</span>
            <span>Owner</span>
            <span>Reg. No.:</span>
            <span>Class B</span>
            <span>Status</span>
            <span>Firm</span>
            <span>Address</span>
            <span>Tel</span>
            <span>Fax</span>
            <span>Email</span>
          </div>
          <div class="col d-flex flex-column">
            <strong>Kí hiệu</strong>
            <span >&lt;&lt;OurRef&gt;&gt;</span>
            <span>&lt;&lt;P.A.T&gt;&gt;</span>
            <span>&lt;&lt;Applicat&gt;&gt;</span>
            <span>&lt;&lt;Application No.&gt;&gt;</span>
            <span>&lt;&lt;Class A&gt;&gt;</span>
            <span>&lt;&lt;Filling date&gt;&gt;</span>
            <span>&lt;&lt;Prior trademark&gt;&gt;</span>
            <span>&lt;&lt;Owner&gt;&gt;</span>
            <span>&lt;&lt;Reg. No.:&gt;&gt;</span>
            <span>&lt;&lt;Class B&gt;&gt;</span>
            <span>&lt;&lt;Status&gt;&gt;</span>
            <span>&lt;&lt;Firm&gt;&gt;</span>
            <span>&lt;&lt;Address&gt;&gt;</span>
            <span>&lt;&lt;Tel&gt;&gt;</span>
            <span>&lt;&lt;Fax&gt;&gt;</span>
            <span>&lt;&lt;Email&gt;&gt;</span>
          </div>
        </div>
      </div>
      <div class="col-md-9 padding-vertical" relative box-border>
        <div bold>Menu soạn thảo văn bản</div>

        <div padding-top>
          <angular-editor [config]="config" [(ngModel)]="mObj.body"></angular-editor>
        </div>
      </div>
    </div>
  </div>
</div>
