<div *ngIf="mTitle">
  <div class="m-header">
    <app-header-menu menuIndex="6"></app-header-menu>
  </div>

  <div class="padding m-content">
    <div no-wrap>
      <div class="d-flex justify-content-between padding1">
        <div>
          <span class="span-custom">MAILMERGE TEMPLATE LIST</span>
        </div>
        <a routerLink="/mailmerge-template-detail"><button mat-raised-button color="primary">
          <mat-icon>add_circle_outline</mat-icon>Add new
        </button></a>
      </div>
      <app-table-category
        (clickPagination)="onClickPagination($event)"
      ></app-table-category>
    </div>
  </div>
</div>
