<div shadow padding relative class="m-box" *ngIf="mData">
    <div>
        <div color-primary>{{mObj.name}}</div>
    </div>
    <div>
        <div color-gray>{{mObj.jobTile | contactRole}}</div>
    </div>
    <div>
        <div color-primary>{{mObj.email | na}}</div>
    </div>

    <div class="btn-detail">
        <div>
            <button class="m-btn btn btn-sm" (click)="onClickDelete()">{{mData.delete}}</button>
        </div>
        <div padding8-top>
            <button class="m-btn btn btn-sm" (click)="onClickDetail()">{{mData.detail}}</button>
        </div>
    </div>
</div>