<div shadow padding relative class="m-box" *ngIf="mTitle">
    <div>
        <div color-primary>{{mObj.name}}</div>
    </div>
    <div>
        <div color-gray>{{mObj.jobTile | contactRole}}</div>
    </div>
    <div>
        <div color-primary>{{mObj.email | na}}</div>
    </div>

    <div style="justify-content: flex-end; display: flex;">
        <button matTooltip="Xóa liên hệ" mat-icon-button color="warn" (click)="onClickDelete()">
            <mat-icon>delete</mat-icon>
        </button>
        <button matTooltip="Xem chi tiết" mat-icon-button color="primary" (click)="onClickDetail()">
            <mat-icon>visibility</mat-icon>
        </button>
    </div>

</div>