<div>
  <div class="m-header">
    <app-header-menu menuIndex="8"></app-header-menu>
  </div>

  <div class="padding padding-top-72">
    <div no-wrap>
      <mat-tab-group mat-align-tabs="start" #tabGroup>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon color="primary" class="example-tab-icon">today</mat-icon>
            ĐẶT HÀNG
          </ng-template>
          adadasdskljdskljd
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon color="accent" class="example-tab-icon">
              attach_money
            </mat-icon>
            BÁO GIÁ
          </ng-template>
          <app-sales-selling-quotation></app-sales-selling-quotation>
        </mat-tab>

        <mat-tab label>
          <ng-template mat-tab-label>
            <mat-icon color="warn" class="example-tab-icon"
              >monetization_on</mat-icon
            >
            GIÁ MUA
          </ng-template>
          Content 1
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">send</mat-icon>
            YÊU CẦU
          </ng-template>
          Content 1
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
