<div *ngIf="mTitle">
    <div class="m-header">
        <app-header-menu></app-header-menu>
    </div>

    <div class="padding m-content">
        <div flex no-wrap>

            <div width-20>

                <div padding-bottom between>
                    <div font2 bold>{{mTitle.component_title.contact}}</div>
                    <div center-line bold color-primary>

                        <div class="box-add" [class.show-div]="addSub==1">
                            <app-add-contact addOut="1" (closeAddSub)="onClickCloseAdd($event)"></app-add-contact>
                        </div>

                    </div>
                </div>

                <div padding32-horizontal>
                    <div padding-bottom wrap [class.bold]="menuSelected==1" tappable (click)="onClickMenu(1)">
                        {{mTitle.menu_title.all_contact}}({{numberAll}})</div>
                    <div padding-bottom wrap [class.bold]="menuSelected==2" tappable (click)="onClickMenu(2)">
                        {{mTitle.menu_title.unassign_contact}}({{numberUnAssign}})</div>
                    <div padding-bottom wrap [class.bold]="menuSelected==5" tappable (click)="onClickMenu(5)">
                        {{mTitle.menu_title.assign_contact}}({{numberAssignAll}})</div>
                    <div padding-bottom wrap [class.bold]="menuSelected==3" tappable (click)="onClickMenu(3)">
                        {{mTitle.menu_title.follow_contact}}({{numberFollow}})</div>
                    <div padding-bottom wrap [class.bold]="menuSelected==4" tappable (click)="onClickMenu(4)">
                        {{mTitle.menu_title.my_contact_assigned}}({{numberAssign}})</div>
                </div>
            </div>

            <div width-80>

                <app-filter-bar [paramsObj]="paramsObj" [toppingList]="toppingList" (clickAdd)="onClickAdd()" (sort)="onClickSort($event)">
                </app-filter-bar>

                <app-mat-table (clickPagination)="onClickPagination($event)" (clickBtn)="onClickBtn($event)" (clickCell)="onClickCell($event)"></app-mat-table>
            </div>

        </div>
    </div>
</div>