.button-margin-right {
  margin-right: 2%;
}
.span-custom {
  font-weight: bold;
  font-size: x-large;
}

.table-container {
  width: 100%;
  padding-top: 5%;
}

.padding1 {
  padding: 1%;
}

.width80 {
  width: 80%;
}

.padding-left-right {
  padding: 0% 1% 0% 1%;
}

.search-condition {
  font-size: 12px;
  font-family: cursive;
  font-style: italic;
}

.title-input {
  text-align: center;
  padding-top: 18px;
}

.mat-form-field-right1 mat-form-field {
  margin-right: 1%;
}

.width68 {
  width: 68%;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.button-delete {
  width: 50px;
  height: 50px;
}
.margin-left-100 {
  margin-left: 100%;
}

.margin-top3 {
  margin-top: 3%;
}
