<div shadow height-100 *ngIf="mData">
    <div class="m-header" padding between>
        <div bold font3>{{mData.add_deal}}</div>
        <div (click)="onClickClose()" tappable>
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div padding>
        <div>{{mData.deal_intro}}</div>

        <div bold padding>{{mData.create_new_deal}}</div>

        <div padding-bottom>
            <div padding-start center-line>
                <div class="col-3" font6>{{mData.deal_name}}</div>
                <div class="col-9">
                    <input class="form-control" type="text">
                </div>
            </div>

            <!-- <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.pipe_line}}</div>
                <div class="col-9">
                    
                </div>
            </div> -->

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.deal_stage}}</div>
                <div class="col-9">
                    <select class="custom-select" width-100 [(ngModel)]="stageID">
                        <option *ngFor="let item of listDealStage" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.amount}}</div>
                <div class="col-9">
                    <input class="form-control" type="number">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.close_date}}</div>
                <div class="col-9">
                    <app-datetime-pick-date-full (pickDate)="onPickDateClose($event)"></app-datetime-pick-date-full>
                </div>
            </div>
        </div>

        <div bold padding>{{mData.associate_deal}}</div>

        <div padding-bottom>
            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.company}}</div>
                <div class="col-9">
                    <select class="custom-select" width-100 [(ngModel)]="companyID">
                        <option *ngFor="let item of listCompany" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.contact}}</div>
                <div class="col-9">
                    <select class="custom-select" width-100 [(ngModel)]="contactID">
                        <option *ngFor="let item of listContact" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div padding center-line between>
            <div flex>
                <div padding-start center-line>
                    <input type="checkbox" (change)="onInputChange($event)">
                </div>
                <div padding8-start>{{mData.add_timeline}}</div>
            </div>
            <div flex padding8-start color-primary [hidden]="!showRemindDate">
                <app-datetime-pick-date (pickDate)="onPickDateRemind($event)"></app-datetime-pick-date>
            </div>
        </div>
    </div>

    <div padding class="m-footer">
        <div flex>
            <div padding-vertical>
                <button class="btn m-btn-footer" [disabled]="!btnCanClicked"
                    [class.btn-footer-cant-clicked]="!btnCanClicked" (click)="onClickSave()">{{mData.save}}</button>
            </div>
            <div padding>
                <button class="btn m-btn-footer" (click)="onClickClose()">{{mData.cancel}}</button>
            </div>
        </div>
    </div>

</div>