<div *ngIf="mTitle" padding>
    <div border-bottom padding-bottom>
        <div padding-vertical between>
            <div flex bold tappable (click)="onClickContact()">
                <mat-icon>{{contactDetail}}</mat-icon>
                <div>{{mTitle.contact}}({{listContact.length}})</div>
            </div>
            <div>
                <button [matTooltip]="mTitle.add_contact" mat-icon-button color="primary" (click)="onClickAddSubDetail(1)">
                    <mat-icon>queue</mat-icon>
                </button>
            </div>
        </div>

        <div id="contact-detail" [hidden]="!showContact">
            <div padding-top *ngFor="let item of listContact">
                <app-company-sub-detail-contact [mObj]="item" (deleteFromCompany)="onDeleteContactFromCompany($event)">
                </app-company-sub-detail-contact>
            </div>
        </div>
    </div>

    <div border-bottom padding-bottom>
        <div padding-vertical between>
            <div flex bold tappable (click)="onClickCompany()">
                <mat-icon>{{companyDetail}}</mat-icon>
                <div>{{mTitle.company}}({{listCompany.length}})</div>
            </div>
            <div>
                <button [matTooltip]="mTitle.add_company" mat-icon-button color="primary" (click)="onClickAddSubDetail(2)">
                    <mat-icon>queue</mat-icon>
                </button>
            </div>
        </div>

        <div id="company-detail" [hidden]="!showCompany">
            <div padding-top *ngFor="let item of listCompany">
                <app-company-sub-detail-company [mObj]="item" (deleteFromCompany)="onDeleteCompanyFromCompany($event)">
                </app-company-sub-detail-company>
            </div>
        </div>

    </div>

    <!-- <div padding-bottom>
        <div padding-vertical between>
            <div flex bold tappable (click)="onClickDeal()">
                <mat-icon>{{dealDetail}}</mat-icon>
                <div>{{mTitle.deal}}({{listDeal.length}})</div>
            </div>
            <div color-primary (click)="onClickAddSubDetail(3)" tappable>{{mTitle.add_deal}}</div>
        </div>

        <div id="deal-detail" [hidden]="!showDeal">
            <div padding-top *ngFor="let item of listDeal">
                <app-company-sub-detail-deal [listDealStage]="listDealStage" [mObj]="item" (deleteFromCompany)="onDeleteDealFromCompany($event)">
                </app-company-sub-detail-deal>
            </div>
        </div>

    </div> -->

</div>