<h2 mat-dialog-title>Thêm chiến dịch mail</h2>
<mat-dialog-content class="mat-typography">

    <mat-form-field width-100>
        <mat-label>Tên chiến dịch</mat-label>
        <input matInput type="text" [(ngModel)]="mObj.name">
        <button mat-button *ngIf="mObj.name" matSuffix mat-icon-button aria-label="Clear" (click)="mObj.name=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field width-100>
        <mat-label>Tiêu đề</mat-label>
        <input matInput type="text" [(ngModel)]="mObj.subject">
        <button mat-button *ngIf="mObj.subject" matSuffix mat-icon-button aria-label="Clear" (click)="mObj.subject=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field width-100>
        <mat-label>Maillist</mat-label>
        <mat-select [(ngModel)]="mObj.mailListID">
            <mat-option *ngFor="let item of listMailList" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-button [mat-dialog-close]="mObj" cdkFocusInitial>Thêm</button>
</mat-dialog-actions>

<!-- <div shadow height-100 *ngIf="mTitle">
    <div class="m-header" padding between>
        <div bold font3>{{mTitle.add_email_campain}}</div>
        <div (click)="onClickClose()" tappable>
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div padding height-90>

        <div padding-bottom>Thêm mới chiến dịch mail với các thông tin sau</div>

        <div>
            <div padding-top>

                <div padding-start center-line>
                    <div class="col-3" font6>Danh sách email</div>
                    <div class="col-9">
                        <select class="custom-select" width-100 [(ngModel)]="mailListID">
                            <option *ngFor="let item of listMailList" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>

                <div padding-start padding-top center-line>
                    <div class="col-3" font6>{{mTitle.campain_name}}</div>
                    <div class="col-9">
                        <input class="form-control" type="text" [(ngModel)]="name">
                    </div>
                </div>

                <div padding-start padding-top center-line>
                    <div class="col-3" font6>Tiêu đề</div>
                    <div class="col-9">
                        <input class="form-control" type="text" [(ngModel)]="subject">
                    </div>
                </div>

                <div padding-start padding-top center-line>
                    <div class="col-3" font6>Ngày kết thúc</div>
                    <div class="col-9">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="endTime" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>

    <div padding background-white class="m-footer">
        <div flex>
            <div padding-vertical>
                <button mat-raised-button color="primary" [disabled]="!btnCanClicked" (click)="onClickSave()">Tạo mới</button>
            </div>
            <div padding>
                <button mat-raised-button color="accent" (click)="onClickClose()">{{mTitle.cancel}}</button>
            </div>
        </div>
    </div>


</div> -->