<div shadow height-100 *ngIf="mData">
    <div class="m-header" padding between>
        <div bold font3>{{mData.add_contact}}</div>
        <div (click)="onClickClose()" tappable>
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div padding>
        <div>{{mData.contact_intro}}</div>

        <div flex>
            <div padding-vertical>
                <button class="btn m-btn" [class.m-btn-clicked]="btnAddExist"
                    (click)="onClickAddExist()">{{mData.add_exist}}</button>
            </div>
            <div padding>
                <button class="btn m-btn" [class.m-btn-clicked]="!btnAddExist"
                    (click)="onClickAddNew()">{{mData.add_new}}</button>
            </div>
        </div>

        <div [hidden]="!btnAddExist">
            <div padding>
                <input type="search" [placeholder]="mData.placeholder" class="form-control" />
            </div>
        </div>

        <div [hidden]="btnAddExist">
            <div padding-start center-line>
                <div class="col-3" font6>{{mData.name}}</div>
                <div class="col-9">
                    <input class="form-control" type="text">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.gender}}</div>
                <div class="col-9">
                    <div ngbDropdown>
                        <button class="btn btn-outline-primary color-primary between width-100"
                            ngbDropdownToggle>{{gender}}</button>
                        <div ngbDropdownMenu width-100>
                            <button ngbDropdownItem (click)="onClickGenger(1)">Nam</button>
                            <button ngbDropdownItem (click)="onClickGenger(2)">Nữ</button>
                        </div>
                    </div>
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.job_tile}}</div>
                <div class="col-9">
                    <select class="custom-select" width-100 [(ngModel)]="pageSize">
                        <option [ngValue]="2">2 items per page</option>
                        <option [ngValue]="4">4 items per page</option>
                        <option [ngValue]="6">6 items per page</option>
                    </select>
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.hand_phone}}</div>
                <div class="col-9">
                    <input class="form-control" type="text">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.home_phone}}</div>
                <div class="col-9">
                    <input class="form-control" type="text">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.email}}</div>
                <div class="col-9">
                    <input class="form-control" type="text">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.address}}</div>
                <div class="col-9">
                    <input class="form-control" type="text">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.contact_owner}}</div>
                <div class="col-9">
                    <div ngbDropdown>
                        <button class="btn btn-outline-primary color-primary between width-100"
                            ngbDropdownToggle>{{gender}}</button>
                        <div ngbDropdownMenu width-100>
                            <button ngbDropdownItem (click)="onClickGenger(1)">Nam</button>
                            <button ngbDropdownItem (click)="onClickGenger(2)">Nữ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div padding class="m-footer">
        <div flex>
            <div padding-vertical>
                <button class="btn m-btn-footer" [disabled]="!btnCanClicked"
                    [class.btn-footer-cant-clicked]="!btnCanClicked" (click)="onClickSave()">{{mData.save}}</button>
            </div>
            <div padding>
                <button class="btn m-btn-footer" (click)="onClickClose()">{{mData.cancel}}</button>
            </div>
        </div>
    </div>

</div>