<div shadow height-100 *ngIf="mData">
    <div class="m-header" padding between>
        <div bold font3>{{mData.add_contact}}</div>
        <div (click)="onClickClose()" tappable>
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div padding height-90>
        <div>{{mData.contact_intro}}</div>

        <div flex>
            <div padding-vertical>
                <button class="btn m-btn" [class.m-btn-clicked]="btnAddExist"
                    (click)="onClickAddExist()">{{mData.add_exist}}</button>
            </div>
            <div padding>
                <button class="btn m-btn" [class.m-btn-clicked]="!btnAddExist"
                    (click)="onClickAddNew()">{{mData.add_new}}</button>
            </div>
        </div>

        <div [hidden]="!btnAddExist" height-80>
            <div padding>
                <input type="search" [placeholder]="mData.placeholder" class="form-control"
                    (change)="onSeachContact($event)" />
            </div>

            <div padding-horizontal height-90 style="overflow-y: scroll;">
                <div padding-top *ngFor="let item of listContact">
                    <div padding8 class="m-contact">
                        <div bold>{{item.name}}</div>
                        <div>{{item.handPhone}}</div>
                        <div>
                            <button class="btn-add btn-sm" type="button"
                                (click)="onClickAddContact(item)">{{mData.add_contact}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [hidden]="btnAddExist">
            <div padding-start center-line>
                <div class="col-3" font6>{{mData.name}}</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="name">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.gender}}</div>
                <div class="col-9">
                    <select class="custom-select" width-100 [(ngModel)]="gender">
                        <option *ngFor="let item of listGender" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.job_tile}}</div>
                <div class="col-9">
                    <select class="custom-select" width-100 [(ngModel)]="jobTile">
                        <option *ngFor="let item of listJobTile" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.hand_phone}}</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="handPhone">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.home_phone}}</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="homePhone">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.email}}</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="email">
                </div>
            </div>

            <div padding-start padding-top center-line>
                <div class="col-3" font6>{{mData.address}}</div>
                <div class="col-9">
                    <input class="form-control" type="text" [(ngModel)]="address">
                </div>
            </div>

        </div>
    </div>

    <div padding class="m-footer">
        <div flex>
            <div padding-vertical>
                <button class="btn m-btn-footer" [disabled]="!btnCanClicked"
                    [class.btn-footer-cant-clicked]="!btnCanClicked" (click)="onClickSave()">{{mData.save}}</button>
            </div>
            <div padding>
                <button class="btn m-btn-footer" (click)="onClickClose()">{{mData.cancel}}</button>
            </div>
        </div>
    </div>

</div>